{% extends "base.html" %}
{% block content %}
		<div class="row dib">
			<div class="col-md-6">
				<div class="page-header">
					<h4>Welcome</h4>
				</div>
				<!--
				<img src="https://lh3.googleusercontent.com/-XQgYJ3SW2w0/AAAAAAAAAAI/AAAAAAAAAM4/vj7OaIMmWqU/s250-c-k/photo.jpg" class="img-thumbnail" style="float:right" width="140px">
				-->
				<p>Hello! I'm Joshua Kunst, a statistician who likes the programming and visualization and join all this insteresting topics. I like share code and ideas, so please be
				free to take a tour in the site.</p>
				<iframe src="http://githubbadge.appspot.com/badge/jbkunst" style="border: 0;height: 142px;width: 200px;overflow: hidden; float:right" frameBorder=0></iframe>
			</div>
			<div class="col-md-3">
				<div class="page-header">
					<h4>Topics</h4>
				</div>
				<ul class="nav">
					{% for category in categories %}
					<li><a href="{% url 'category' category.slug %}" class="asidebar"><span class="badge pull-right">{{ category.counter }}</span>{{ category.name|title }}</a></li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-md-3">
				<div class="page-header">
					<h4>Some Posts</h4>
				</div>
				<ul class="nav">
					{% for post in some_posts %}
					<li><a href="{% url 'post' post.slug %}" class="asidebar">{{ post.title|title }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
{% endblock content %}