@import url(http://fonts.googleapis.com/css?family=Lato);

span.tab{
    padding: 0 10px; /* Or desired space*/
}

i.tab{
    padding: 5px; /* Or desired space*/
}

body {
	font-family: 'Lato', sans-serif;
	/*font-family: 'Open Sans', sans-serif;*/
	padding-top: 70px;
	padding-bottom: 20px;
	background-color: transparent;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Lato', sans-serif;
	/*font-family: 'Open Sans', sans-serif;*/
	font-weight: 300;
	line-height: 1.1;
}

.row {
	background-color: #111111;
	opacity: 0.90;
	color: #FFFFFF;
}

.img-thumbnail {
	margin: 0.5em;
}

.navbar-brand {
	float: left;
	padding: 14px 14px;
	font-size: 18px;
	line-height: 21px;
}

.iconslinks {
	color: #333333;
	height: 50px;
}

a.asidebar:link{
	color: #FFFFFF;
	text-decoration: none;
	-webkit-transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-ms-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	transition: color 0.2s linear;
}

a.asidebar:hover{
	color: #000000;
}

.fa-spin2 {
	-webkit-animation: spin 5s infinite ease;
	-moz-animation: spin 5s infinite linear;
	-o-animation: spin 5s infinite linear;
	animation: spin 5s infinite linear;
}

pre {
	font-size: 0.8em;
}

.hs {
	padding-left: 5px;
}