/*@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

html {
	background: url('images/forest.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

span.tab{
    padding: 0 10px; /* Or desired space*/
}

body {
	/*font-family: 'Ubuntu', sans-serif;*/
	font-family: 'Open Sans', sans-serif;
	padding-top: 70px;
	padding-bottom: 20px;
	background-color: transparent;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	/*font-family: 'Ubuntu', sans-serif;*/
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 1.1;
}

.navbar-brand {
	float: left;
	padding: 14px 14px;
	font-size: 18px;
	line-height: 21px;
}

.dib {
	background-color: #111111;
	opacity: 0.95;
	color: #FFFFFF;
	margin-top: 10px;
}

.img-thumbnail {
	margin: 0.5em;
}

a, a:hover {
	color: #7FBB00;
	text-decoration: none;
}

a.asidebar:link{
	color: #FFFFFF;
	text-decoration: none;
	-webkit-transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-ms-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	transition: color 0.2s linear;
}

a.asidebar:hover{
	color: #000000;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 5px 5px;
}

.nav > li > a:focus {
    text-decoration: none;
    background-color: rgb(0, 0, 0) !important;
}

.nav-icon {
	color: #484848;
	font-size: 2.5em;
	padding-left: 0.0em;
	padding-right: 0.0em;
	-webkit-transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-ms-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	transition: color 0.2s linear;
}

.home:hover {
	color: #7FBB00;
}

.mail:hover {
	color: #F0F0F0;
}

.rss:hover {
	color: #EE802F;
}

.stackoverflow:hover {
	color: #EF8236;
}

.twitter:hover {
	color: #00ACEE;
}

.google-plus:hover {
	color: #DD1812;
}

.last-fm:hover {
	color: #C3000D;
}

.git-hub:hover {
	color: #FFFFFF;
}

.linkedin:hover {
	color: #0E76A8;
}

.random:hover {
	color: #FFCC33;
}