{% extends "blog/base.html" %}

{% block title %}Contact Me{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}

{% block content %}
				<div id="maincontent">		
					<div class="post">
						<h3 class="posttitle"><a href="">Conctact Me!</a></h3>
						<div class="entry-content">
						<div id="contactform">
						<form action="/contact/" method="post">
							<fieldset>
								{% csrf_token %}
								{% for field in form %}
									{{ field.label_tag }}
									{{ field }}
									<br />
									{% for error in field.errors %}<span class="error" id="name_error">{{ error }}</span>{% endfor %}
								{% endfor %}
								
								<input type="submit" name="Submit" class="button" id="submit_btn" value="Send Message"/><br />
							</fieldset>
							</form>
						</div>
						</div>
					</div>
				</div><!-- end #maincontent -->
				<div id="side">
					{% include "blog/side.html" %}
				</div><!-- end #side -->
				<div class="clear"></div><!-- clear float -->
{% endblock %}	
