        <div id="top-navigation">
            <ul id="topnav"  class="sf-menu">
                <li><a href="{% url blog.views.index %}">Home/Blog</a>
                    <ul>
						{% for cat in categories %}
						<li><a href="{% url blog.views.category cat.slug %}">{{ cat.name|title }} ({{ cat.counter }})</a></li>
						{% endfor %}
                    </ul>
                </li>
                <li><a href="services.html">Services</a></li>
                <li><a href="#">Portfolio</a>
                    <ul>
                        <li><a href="portfolio.html">One Column</a></li>
                    </ul>
                </li>
                <li  class="current"><a href="blog.html">Blog</a></li>
                <li class="nomargin"><a href="contact.html">Contact</a></li>
            </ul>
		</div><!-- end #top-navigation -->