{% extends "blog/base.html" %}

{% block title %}{{ cat|title }} Category{% endblock %}

{% block content %}
				<h2 class="pagetitle">{{ cat|title }} Category</h2>
				<div id="ts-display-portfolio">
					<p><a href="{% url blog.views.category cat.slug %}rss">
					<img src="{{ STATIC_URL }}images/iconmonstr-rss-4-icon.png" alt="RSS" width=16 />
					RSS to {{ cat|title }} category</a></p>
					<ul class="ts-display-pf-col-4">
					{% for entry in entries %}
						<li {% if forloop.counter|divisibleby:"4" %}class="nomargin"{% endif %}>
							<div class="ts-display-pf-img">
								<span class="rollover"></span>
								<a href="{% url blog.views.entry entry.slug %}">{{ entry.get_image|safe }}</a>
							</div>
							<div class="ts-display-pf-text">
								<h2 class="posttitle"><a href="{% url blog.views.entry entry.slug %}">{{ entry.title|title }}</a></h2>
								{{ entry.body|safe|truncatewords:15}}
							</div>
							<div class="ts-display-clear"></div>
						</li>
						{% if forloop.counter|divisibleby:"4" %}
						<div class="separator line"></div>
						{% endif %}
					{% endfor %}
					</ul>				
					<div class="clear"></div>
				</div>
{% endblock %}
