{% extends "blog/base.html" %}

{% block title %}{{ entry.title|title }}{% endblock %}

{% block content %}
				<div id="maincontent">
					{% load comments %}
					<div class="post">
						<h3 class="posttitle"><a href="{% url blog.views.entry entry.slug %}">{{ entry.title|title }}</a></h3>
							<span class="entry-utility">
								<span class="date">
									<img src="{{ STATIC_URL }}images/iconmonstr-calendar-8-icon.png" alt="" width=16 />
									{{ entry.pub_date|date:"F d Y"}}&nbsp;&nbsp;&nbsp;
								</span>
								<span class="date">
									{% get_comment_count for entry as comment_count %}
									<a href="{% url blog.views.entry entry.slug %}#comments"><img src="{{ STATIC_URL }}images/iconmonstr-speech-bubble-14-icon.png" alt="" width=16 /></a>
									<a href="{% url blog.views.entry entry.slug %}#comments">{{ comment_count }} Comment{{ comment_count|pluralize }}</a>	
								</span>
							</span>
						<div class="entry-content">
							{{ entry.get_image2|safe }}
							{{ entry.body|safe }}
							<p>Writed by <a href="{% url blog.views.about %}" rel="author">me</a> and posted in: {% for cat in entry.get_categories%}<a href="{% url blog.views.category cat.slug %}">{{ cat.name|title }} ({{ cat.counter }})</a>&nbsp;&nbsp{% endfor %}</p>

							{% if entry.allow_comments %}
							{% get_comment_list for entry as comment_list %}
							<br class="clear" />
							<a name="comments"><h3 class="posttitle" >Comments</h3></a>
							<br class="clear" />
							{% for comment in comment_list %}
							<ul class="ts-thinkbox-list ts-thinkbox-2">
								<li>
									<a name="c{{ comment.id }}"></a>
									{% load gravatar %}
									<div class="ts-thinkbox-quote">{% gravatar_img_for_email comment.email 40 %} {{ comment.comment|safe }}<br />
									<span class="ts-thinkbox-name">- <a href="{{ comment.url }}" target="_blank">{{ comment.user_name }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;- {{ comment.submit_date|date:"F d Y"}} </span> </div>
								</li>
							</ul>
							{% endfor %}
							<br class="clear" />
							<h3 class="posttitle" >Do you want to comment?</h3>
							{% get_comment_form for entry as form %}
							<div id="contactform">
							<form id="contact" action="{% comment_form_target %}" method="post">
								<fieldset>
									<input type="hidden" name="next" value="{% url blog.views.entry entry.slug %}" />
									{% csrf_token %}
									{% get_comment_form for entry as form %}
									{% for field in form %}
										{% if field.is_hidden %}
											{{ field }}
										{% else %}
											{% cycle '<label for="id_name">Name</label>' '<label for="id_email">Email</label>' '<label for="id_url">URL</label>' '<label for="id_comment">Comment</label>' '<label for="id_honeypot">Don&rsquo;t write here!</label>' %}
											{# field.label_tag #}
											{{ field }}
										{% endif %}
									{% endfor %}
											<label for="id_name" id="mathquestion"></label>
											<input type="text" name="mathresult" id="mathresult" onkeyup="test()">
									<input type="submit" name="submit" class="button" id="submit_btn" value="Send Message"  disabled="disabled"/><br />
									<script>
										$(document).ready(function() {
											var1 = String(Math.floor(Math.random() * 10) + 1);
											var2 = String(Math.floor(Math.random() * 10) + 1);
											$('#mathquestion').append(var1 + ' + '+ var2);
										});	
										function test(){
											var result = parseInt(var1) + parseInt(var2)
											var compare = parseInt($('#mathresult').val())
											if(result==compare){
												console.log(var1)
												console.log(var2)
												console.log(result)
												$('#submit_btn').removeAttr('disabled')
											}
										}
									</script>
								</fieldset>
							</form>
							</div>
							{% endif %}
						</div>
					</div>
				</div><!-- end #maincontent -->
				<div id="side">
					{% include "blog/side.html" %}
				</div><!-- end #side -->
				<div class="clear"></div><!-- clear float -->
				
					
{% endblock %}
