					<ul>
						<li class="widget-container">
							<h2 class="widget-title">Categories</h2>
							<ul>
								{% for cat in categories %}
								<li><a href="{% url blog.views.category cat.slug %}">{{ cat.name|title }} ({{ cat.counter }})</a></li>
								{% endfor %}
							</ul>
						</li>
						<li class="widget-container">
							<h2 class="widget-title">Random Entries</h2>
							<ul>
								{% for entry in random %}
								<li><a href="{% url blog.views.entry entry.slug %}">{{ entry.title|title }}</a></li>
								{% endfor %}
							</ul>
						</li>
						<li class="widget-container">
							<h2 class="widget-title">Projects</h2>
							<ul>
								<li><a href="http://dgf.jkunst.com">DGF</a><p>Visualization of Meteorologic data in SCL</p></li>

							</ul>
						</li>
					</ul>