.icon {
	color: #333;
	-webkit-transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-ms-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	transition: color 0.2s linear;
}

.fa-inverse {
	color: #EEE;
}

.fa-inverse:hover {
	color: #FFF;
}

.fa-stack{
	padding-top: 4px;
	padding-left: 2px;
}

.home:hover {
	color: #7FBB00;
}

.about:hover {
	color: #880000;
}

.mail:hover {
	color: #666633;
}

.rss:hover {
	color: #EE802F;
}

.stackoverflow:hover {
	color: #EF8236;
}

.twitter:hover {
	color: #00ACEE;
}

.google-plus:hover {
	color: #DD1812;
}

.last-fm:hover {
	color: #C3000D;
}

.git-hub:hover {
	color: #000000;
}

.linkedin:hover {
	color: #0E76A8;
}

.random:hover {
	color: #FFCC33;
}

.stack-overflow:hover {
	color: #FE7A15;
}

.steam:hover {
	color: #000000;
}

.spotify:hover {
	color: #7AB800;
}
