@font-face {
	font-family: 'iconfont';
	src:url('fonts/iconfont.eot');
	src:url('fonts/iconfont.svg#iconfont') format('svg');
		url('fonts/iconfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/iconfont.woff') format('woff'),
		url('fonts/iconfont.ttf') format('truetype'),
		
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'iconfont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-iconmonstr-youtube-new-5-icon:before {
	content: "\e600";
}
.icon-iconmonstr-youtube-new-4-icon:before {
	content: "\e601";
}
.icon-iconmonstr-youtube-5-icon:before {
	content: "\e602";
}
.icon-iconmonstr-youtube-4-icon:before {
	content: "\e603";
}
.icon-iconmonstr-youtube-3-icon:before {
	content: "\e604";
}
.icon-iconmonstr-youtube-2-icon:before {
	content: "\e605";
}
.icon-iconmonstr-x-mark-4-icon:before {
	content: "\e606";
}
.icon-iconmonstr-x-mark-3-icon:before {
	content: "\e607";
}
.icon-iconmonstr-wireless-6-icon:before {
	content: "\e608";
}
.icon-iconmonstr-wireless-5-icon:before {
	content: "\e609";
}
.icon-iconmonstr-wireless-4-icon:before {
	content: "\e60a";
}
.icon-iconmonstr-wireless-2-icon:before {
	content: "\e60b";
}
.icon-iconmonstr-windows-os-5-icon:before {
	content: "\e60c";
}
.icon-iconmonstr-windows-os-4-icon:before {
	content: "\e60d";
}
.icon-iconmonstr-warning-icon:before {
	content: "\e60e";
}
.icon-iconmonstr-warning-4-icon:before {
	content: "\e60f";
}
.icon-iconmonstr-warning-3-icon:before {
	content: "\e610";
}
.icon-iconmonstr-warning-2-icon:before {
	content: "\e611";
}
.icon-iconmonstr-upload-9-icon:before {
	content: "\e612";
}
.icon-iconmonstr-upload-8-icon:before {
	content: "\e613";
}
.icon-iconmonstr-upload-3-icon:before {
	content: "\e614";
}
.icon-iconmonstr-twitter-icon:before {
	content: "\e615";
}
.icon-iconmonstr-twitter-5-icon:before {
	content: "\e616";
}
.icon-iconmonstr-twitter-4-icon:before {
	content: "\e617";
}
.icon-iconmonstr-twitter-3-icon:before {
	content: "\e618";
}
.icon-iconmonstr-twitter-2-icon:before {
	content: "\e619";
}
.icon-iconmonstr-trash-can-15-icon:before {
	content: "\e61a";
}
.icon-iconmonstr-trash-can-12-icon:before {
	content: "\e61b";
}
.icon-iconmonstr-trash-can-11-icon:before {
	content: "\e61c";
}
.icon-iconmonstr-trash-can-3-icon:before {
	content: "\e61d";
}
.icon-iconmonstr-time-icon:before {
	content: "\e61e";
}
.icon-iconmonstr-time-10-icon:before {
	content: "\e61f";
}
.icon-iconmonstr-time-6-icon:before {
	content: "\e620";
}
.icon-iconmonstr-time-3-icon:before {
	content: "\e621";
}
.icon-iconmonstr-time-2-icon:before {
	content: "\e622";
}
.icon-iconmonstr-thumb-17-icon:before {
	content: "\e623";
}
.icon-iconmonstr-thumb-16-icon:before {
	content: "\e624";
}
.icon-iconmonstr-thumb-14-icon:before {
	content: "\e625";
}
.icon-iconmonstr-thumb-13-icon:before {
	content: "\e626";
}
.icon-iconmonstr-target-10-icon:before {
	content: "\e627";
}
.icon-iconmonstr-target-9-icon:before {
	content: "\e628";
}
.icon-iconmonstr-target-8-icon:before {
	content: "\e629";
}
.icon-iconmonstr-target-7-icon:before {
	content: "\e62a";
}
.icon-iconmonstr-target-4-icon:before {
	content: "\e62b";
}
.icon-iconmonstr-target-2-icon:before {
	content: "\e62c";
}
.icon-iconmonstr-stream-icon:before {
	content: "\e62d";
}
.icon-iconmonstr-stream-3-icon:before {
	content: "\e62e";
}
.icon-iconmonstr-stop-5-icon:before {
	content: "\e62f";
}
.icon-iconmonstr-stop-4-icon:before {
	content: "\e630";
}
.icon-iconmonstr-stop-3-icon:before {
	content: "\e631";
}
.icon-iconmonstr-star-7-icon:before {
	content: "\e632";
}
.icon-iconmonstr-star-6-icon:before {
	content: "\e633";
}
.icon-iconmonstr-stackoverflow-icon:before {
	content: "\e634";
}
.icon-iconmonstr-stackoverflow-5-icon:before {
	content: "\e635";
}
.icon-iconmonstr-stackoverflow-4-icon:before {
	content: "\e636";
}
.icon-iconmonstr-stackoverflow-3-icon:before {
	content: "\e637";
}
.icon-iconmonstr-stackoverflow-2-icon:before {
	content: "\e638";
}
.icon-iconmonstr-square-ios-app-icon:before {
	content: "\e639";
}
.icon-iconmonstr-speech-bubble-15-icon:before {
	content: "\e63a";
}
.icon-iconmonstr-speech-bubble-14-icon:before {
	content: "\e63b";
}
.icon-iconmonstr-speech-bubble-13-icon:before {
	content: "\e63c";
}
.icon-iconmonstr-speech-bubble-2-icon:before {
	content: "\e63d";
}
.icon-iconmonstr-soundcloud-5-icon:before {
	content: "\e63e";
}
.icon-iconmonstr-soundcloud-4-icon:before {
	content: "\e63f";
}
.icon-iconmonstr-soundcloud-3-icon:before {
	content: "\e640";
}
.icon-iconmonstr-soundcloud-2-icon:before {
	content: "\e641";
}
.icon-iconmonstr-smiley-wink-icon:before {
	content: "\e642";
}
.icon-iconmonstr-smiley-wink-2-icon:before {
	content: "\e643";
}
.icon-iconmonstr-smiley-tongue-icon:before {
	content: "\e644";
}
.icon-iconmonstr-smiley-surprised-icon:before {
	content: "\e645";
}
.icon-iconmonstr-smiley-scared-icon:before {
	content: "\e646";
}
.icon-iconmonstr-smiley-sad-icon:before {
	content: "\e647";
}
.icon-iconmonstr-smiley-sad-2-icon:before {
	content: "\e648";
}
.icon-iconmonstr-smiley-neutral-icon:before {
	content: "\e649";
}
.icon-iconmonstr-smiley-neutral-2-icon:before {
	content: "\e64a";
}
.icon-iconmonstr-smiley-lol-icon:before {
	content: "\e64b";
}
.icon-iconmonstr-smiley-lips-sealed-icon:before {
	content: "\e64c";
}
.icon-iconmonstr-smiley-icon:before {
	content: "\e64d";
}
.icon-iconmonstr-smiley-happy-icon:before {
	content: "\e64e";
}
.icon-iconmonstr-smiley-excited-icon:before {
	content: "\e64f";
}
.icon-iconmonstr-smiley-embarrassed-icon:before {
	content: "\e650";
}
.icon-iconmonstr-smiley-dead-icon:before {
	content: "\e651";
}
.icon-iconmonstr-smiley-cool-icon:before {
	content: "\e652";
}
.icon-iconmonstr-smiley-angry-icon:before {
	content: "\e653";
}
.icon-iconmonstr-smiley-2-icon:before {
	content: "\e654";
}
.icon-iconmonstr-share-2-icon:before {
	content: "\e655";
}
.icon-iconmonstr-server-7-icon:before {
	content: "\e656";
}
.icon-iconmonstr-server-5-icon:before {
	content: "\e657";
}
.icon-iconmonstr-server-4-icon:before {
	content: "\e658";
}
.icon-iconmonstr-server-3-icon:before {
	content: "\e659";
}
.icon-iconmonstr-rss-icon:before {
	content: "\e65a";
}
.icon-iconmonstr-rss-5-icon:before {
	content: "\e65b";
}
.icon-iconmonstr-rss-4-icon:before {
	content: "\e65c";
}
.icon-iconmonstr-rss-3-icon:before {
	content: "\e65d";
}
.icon-iconmonstr-rss-2-icon:before {
	content: "\e65e";
}
.icon-iconmonstr-retweet-4-icon:before {
	content: "\e65f";
}
.icon-iconmonstr-retweet-3-icon:before {
	content: "\e660";
}
.icon-iconmonstr-quote-15-icon:before {
	content: "\e661";
}
.icon-iconmonstr-quote-12-icon:before {
	content: "\e662";
}
.icon-iconmonstr-quote-11-icon:before {
	content: "\e663";
}
.icon-iconmonstr-quote-10-icon:before {
	content: "\e664";
}
.icon-iconmonstr-quote-9-icon:before {
	content: "\e665";
}
.icon-iconmonstr-qr-code-11-icon:before {
	content: "\e666";
}
.icon-iconmonstr-qr-code-10-icon:before {
	content: "\e667";
}
.icon-iconmonstr-qr-code-7-icon:before {
	content: "\e668";
}
.icon-iconmonstr-power-on-icon:before {
	content: "\e669";
}
.icon-iconmonstr-power-on-7-icon:before {
	content: "\e66a";
}
.icon-iconmonstr-power-on-3-icon:before {
	content: "\e66b";
}
.icon-iconmonstr-power-on-2-icon:before {
	content: "\e66c";
}
.icon-iconmonstr-power-off-2-icon:before {
	content: "\e66d";
}
.icon-iconmonstr-plus-icon:before {
	content: "\e66e";
}
.icon-iconmonstr-plus-5-icon:before {
	content: "\e66f";
}
.icon-iconmonstr-plus-4-icon:before {
	content: "\e670";
}
.icon-iconmonstr-plus-3-icon:before {
	content: "\e671";
}
.icon-iconmonstr-play-file-icon:before {
	content: "\e672";
}
.icon-iconmonstr-play-file-2-icon:before {
	content: "\e673";
}
.icon-iconmonstr-pie-chart-2-icon:before {
	content: "\e674";
}
.icon-iconmonstr-paypal-10-icon:before {
	content: "\e675";
}
.icon-iconmonstr-paypal-5-icon:before {
	content: "\e676";
}
.icon-iconmonstr-paypal-4-icon:before {
	content: "\e677";
}
.icon-iconmonstr-network-icon:before {
	content: "\e678";
}
.icon-iconmonstr-network-5-icon:before {
	content: "\e679";
}
.icon-iconmonstr-network-4-icon:before {
	content: "\e67a";
}
.icon-iconmonstr-network-2-icon:before {
	content: "\e67b";
}
.icon-iconmonstr-navigation-15-icon:before {
	content: "\e67c";
}
.icon-iconmonstr-navigation-11-icon:before {
	content: "\e67d";
}
.icon-iconmonstr-navigation-8-icon:before {
	content: "\e67e";
}
.icon-iconmonstr-navigation-4-icon:before {
	content: "\e67f";
}
.icon-iconmonstr-minus-icon:before {
	content: "\e680";
}
.icon-iconmonstr-minus-5-icon:before {
	content: "\e681";
}
.icon-iconmonstr-minus-4-icon:before {
	content: "\e682";
}
.icon-iconmonstr-minus-3-icon:before {
	content: "\e683";
}
.icon-iconmonstr-map-6-icon:before {
	content: "\e684";
}
.icon-iconmonstr-map-4-icon:before {
	content: "\e685";
}
.icon-iconmonstr-map-2-icon:before {
	content: "\e686";
}
.icon-iconmonstr-magnifier-6-icon:before {
	content: "\e687";
}
.icon-iconmonstr-magnifier-4-icon:before {
	content: "\e688";
}
.icon-iconmonstr-magic-8-icon:before {
	content: "\e689";
}
.icon-iconmonstr-magic-4-icon:before {
	content: "\e68a";
}
.icon-iconmonstr-magic-2-icon:before {
	content: "\e68b";
}
.icon-iconmonstr-location-18-icon:before {
	content: "\e68c";
}
.icon-iconmonstr-location-17-icon:before {
	content: "\e68d";
}
.icon-iconmonstr-location-16-icon:before {
	content: "\e68e";
}
.icon-iconmonstr-location-15-icon:before {
	content: "\e68f";
}
.icon-iconmonstr-location-13-icon:before {
	content: "\e690";
}
.icon-iconmonstr-location-12-icon:before {
	content: "\e691";
}
.icon-iconmonstr-location-10-icon:before {
	content: "\e692";
}
.icon-iconmonstr-location-9-icon:before {
	content: "\e693";
}
.icon-iconmonstr-location-8-icon:before {
	content: "\e694";
}
.icon-iconmonstr-location-7-icon:before {
	content: "\e695";
}
.icon-iconmonstr-location-6-icon:before {
	content: "\e696";
}
.icon-iconmonstr-loading-icon:before {
	content: "\e697";
}
.icon-iconmonstr-loading-2-icon:before {
	content: "\e698";
}
.icon-iconmonstr-linux-os-icon:before {
	content: "\e699";
}
.icon-iconmonstr-linux-os-5-icon:before {
	content: "\e69a";
}
.icon-iconmonstr-linux-os-4-icon:before {
	content: "\e69b";
}
.icon-iconmonstr-linux-os-3-icon:before {
	content: "\e69c";
}
.icon-iconmonstr-linux-os-2-icon:before {
	content: "\e69d";
}
.icon-iconmonstr-linkedin-5-icon:before {
	content: "\e69e";
}
.icon-iconmonstr-linkedin-4-icon:before {
	content: "\e69f";
}
.icon-iconmonstr-linkedin-3-icon:before {
	content: "\e6a0";
}
.icon-iconmonstr-linkedin-2-icon:before {
	content: "\e6a1";
}
.icon-iconmonstr-line-chart-icon:before {
	content: "\e6a2";
}
.icon-iconmonstr-line-chart-4-icon:before {
	content: "\e6a3";
}
.icon-iconmonstr-line-chart-3-icon:before {
	content: "\e6a4";
}
.icon-iconmonstr-line-chart-2-icon:before {
	content: "\e6a5";
}
.icon-iconmonstr-lifebuoy-6-icon:before {
	content: "\e6a6";
}
.icon-iconmonstr-lifebuoy-2-icon:before {
	content: "\e6a7";
}
.icon-iconmonstr-last-fm-5-icon:before {
	content: "\e6a8";
}
.icon-iconmonstr-last-fm-4-icon:before {
	content: "\e6a9";
}
.icon-iconmonstr-last-fm-3-icon:before {
	content: "\e6aa";
}
.icon-iconmonstr-last-fm-2-icon:before {
	content: "\e6ab";
}
.icon-iconmonstr-laptop-icon:before {
	content: "\e6ac";
}
.icon-iconmonstr-laptop-3-icon:before {
	content: "\e6ad";
}
.icon-iconmonstr-laptop-2-icon:before {
	content: "\e6ae";
}
.icon-iconmonstr-instagram-9-icon:before {
	content: "\e6af";
}
.icon-iconmonstr-instagram-6-icon:before {
	content: "\e6b0";
}
.icon-iconmonstr-info-icon:before {
	content: "\e6b1";
}
.icon-iconmonstr-info-8-icon:before {
	content: "\e6b2";
}
.icon-iconmonstr-info-6-icon:before {
	content: "\e6b3";
}
.icon-iconmonstr-info-5-icon:before {
	content: "\e6b4";
}
.icon-iconmonstr-info-4-icon:before {
	content: "\e6b5";
}
.icon-iconmonstr-info-3-icon:before {
	content: "\e6b6";
}
.icon-iconmonstr-info-2-icon:before {
	content: "\e6b7";
}
.icon-iconmonstr-inbox-8-icon:before {
	content: "\e6b8";
}
.icon-iconmonstr-inbox-6-icon:before {
	content: "\e6b9";
}
.icon-iconmonstr-icloud-5-icon:before {
	content: "\e6ba";
}
.icon-iconmonstr-icloud-4-icon:before {
	content: "\e6bb";
}
.icon-iconmonstr-icloud-3-icon:before {
	content: "\e6bc";
}
.icon-iconmonstr-icloud-2-icon:before {
	content: "\e6bd";
}
.icon-iconmonstr-home-icon:before {
	content: "\e6be";
}
.icon-iconmonstr-home-6-icon:before {
	content: "\e6bf";
}
.icon-iconmonstr-home-5-icon:before {
	content: "\e6c0";
}
.icon-iconmonstr-home-4-icon:before {
	content: "\e6c1";
}
.icon-iconmonstr-home-3-icon:before {
	content: "\e6c2";
}
.icon-iconmonstr-home-2-icon:before {
	content: "\e6c3";
}
.icon-iconmonstr-help-4-icon:before {
	content: "\e6c4";
}
.icon-iconmonstr-help-3-icon:before {
	content: "\e6c5";
}
.icon-iconmonstr-help-2-icon:before {
	content: "\e6c6";
}
.icon-iconmonstr-google-plus-5-icon:before {
	content: "\e6c7";
}
.icon-iconmonstr-google-plus-4-icon:before {
	content: "\e6c8";
}
.icon-iconmonstr-google-plus-3-icon:before {
	content: "\e6c9";
}
.icon-iconmonstr-google-plus-2-icon:before {
	content: "\e6ca";
}
.icon-iconmonstr-globe-5-icon:before {
	content: "\e6cb";
}
.icon-iconmonstr-globe-4-icon:before {
	content: "\e6cc";
}
.icon-iconmonstr-github-10-icon:before {
	content: "\e6cd";
}
.icon-iconmonstr-github-9-icon:before {
	content: "\e6ce";
}
.icon-iconmonstr-github-8-icon:before {
	content: "\e6cf";
}
.icon-iconmonstr-github-8-icon-(1):before {
	content: "\e6d0";
}
.icon-iconmonstr-github-7-icon:before {
	content: "\e6d1";
}
.icon-iconmonstr-github-6-icon:before {
	content: "\e6d2";
}
.icon-iconmonstr-github-5-icon:before {
	content: "\e6d3";
}
.icon-iconmonstr-github-4-icon:before {
	content: "\e6d4";
}
.icon-iconmonstr-github-3-icon:before {
	content: "\e6d5";
}
.icon-iconmonstr-gear-10-icon:before {
	content: "\e6d6";
}
.icon-iconmonstr-gear-9-icon:before {
	content: "\e6d7";
}
.icon-iconmonstr-fingerprint-18-icon:before {
	content: "\e6d8";
}
.icon-iconmonstr-fingerprint-6-icon:before {
	content: "\e6d9";
}
.icon-iconmonstr-favorite-8-icon:before {
	content: "\e6da";
}
.icon-iconmonstr-favorite-7-icon:before {
	content: "\e6db";
}
.icon-iconmonstr-favorite-4-icon:before {
	content: "\e6dc";
}
.icon-iconmonstr-favorite-3-icon:before {
	content: "\e6dd";
}
.icon-iconmonstr-favorite-2-icon:before {
	content: "\e6de";
}
.icon-iconmonstr-facebook-like-5-icon:before {
	content: "\e6df";
}
.icon-iconmonstr-facebook-like-4-icon:before {
	content: "\e6e0";
}
.icon-iconmonstr-facebook-like-3-icon:before {
	content: "\e6e1";
}
.icon-iconmonstr-facebook-5-icon:before {
	content: "\e6e2";
}
.icon-iconmonstr-facebook-4-icon:before {
	content: "\e6e3";
}
.icon-iconmonstr-facebook-3-icon:before {
	content: "\e6e4";
}
.icon-iconmonstr-facebook-2-icon:before {
	content: "\e6e5";
}
.icon-iconmonstr-error-icon:before {
	content: "\e6e6";
}
.icon-iconmonstr-error-6-icon:before {
	content: "\e6e7";
}
.icon-iconmonstr-error-5-icon:before {
	content: "\e6e8";
}
.icon-iconmonstr-error-4-icon:before {
	content: "\e6e9";
}
.icon-iconmonstr-error-3-icon:before {
	content: "\e6ea";
}
.icon-iconmonstr-error-2-icon:before {
	content: "\e6eb";
}
.icon-iconmonstr-email-13-icon:before {
	content: "\e6ec";
}
.icon-iconmonstr-email-12-icon:before {
	content: "\e6ed";
}
.icon-iconmonstr-email-10-icon:before {
	content: "\e6ee";
}
.icon-iconmonstr-email-9-icon:before {
	content: "\e6ef";
}
.icon-iconmonstr-email-4-icon:before {
	content: "\e6f0";
}
.icon-iconmonstr-email-3-icon:before {
	content: "\e6f1";
}
.icon-iconmonstr-email-2-icon:before {
	content: "\e6f2";
}
.icon-iconmonstr-download-9-icon:before {
	content: "\e6f3";
}
.icon-iconmonstr-download-8-icon:before {
	content: "\e6f4";
}
.icon-iconmonstr-download-6-icon:before {
	content: "\e6f5";
}
.icon-iconmonstr-database-icon:before {
	content: "\e6f6";
}
.icon-iconmonstr-database-10-icon:before {
	content: "\e6f7";
}
.icon-iconmonstr-database-9-icon:before {
	content: "\e6f8";
}
.icon-iconmonstr-database-8-icon:before {
	content: "\e6f9";
}
.icon-iconmonstr-database-7-icon:before {
	content: "\e6fa";
}
.icon-iconmonstr-database-6-icon:before {
	content: "\e6fb";
}
.icon-iconmonstr-database-4-icon:before {
	content: "\e6fc";
}
.icon-iconmonstr-database-3-icon:before {
	content: "\e6fd";
}
.icon-iconmonstr-database-2-icon:before {
	content: "\e6fe";
}
.icon-iconmonstr-dashboard-icon:before {
	content: "\e6ff";
}
.icon-iconmonstr-dashboard-5-icon:before {
	content: "\e700";
}
.icon-iconmonstr-dashboard-3-icon:before {
	content: "\e701";
}
.icon-iconmonstr-dashboard-2-icon:before {
	content: "\e702";
}
.icon-iconmonstr-danger-9-icon:before {
	content: "\e703";
}
.icon-iconmonstr-danger-3-icon:before {
	content: "\e704";
}
.icon-iconmonstr-crosshair-icon:before {
	content: "\e705";
}
.icon-iconmonstr-crosshair-11-icon:before {
	content: "\e706";
}
.icon-iconmonstr-crosshair-10-icon:before {
	content: "\e707";
}
.icon-iconmonstr-crosshair-9-icon:before {
	content: "\e708";
}
.icon-iconmonstr-crosshair-5-icon:before {
	content: "\e709";
}
.icon-iconmonstr-crosshair-4-icon:before {
	content: "\e70a";
}
.icon-iconmonstr-crosshair-3-icon:before {
	content: "\e70b";
}
.icon-iconmonstr-credit-card-icon:before {
	content: "\e70c";
}
.icon-iconmonstr-credit-card-14-icon:before {
	content: "\e70d";
}
.icon-iconmonstr-credit-card-6-icon:before {
	content: "\e70e";
}
.icon-iconmonstr-credit-card-5-icon:before {
	content: "\e70f";
}
.icon-iconmonstr-credit-card-2-icon:before {
	content: "\e710";
}
.icon-iconmonstr-connection-5-icon:before {
	content: "\e711";
}
.icon-iconmonstr-connection-4-icon:before {
	content: "\e712";
}
.icon-iconmonstr-computer-6-icon:before {
	content: "\e713";
}
.icon-iconmonstr-computer-5-icon:before {
	content: "\e714";
}
.icon-iconmonstr-compass-7-icon:before {
	content: "\e715";
}
.icon-iconmonstr-compass-6-icon:before {
	content: "\e716";
}
.icon-iconmonstr-compass-4-icon:before {
	content: "\e717";
}
.icon-iconmonstr-compass-3-icon:before {
	content: "\e718";
}
.icon-iconmonstr-compass-3-icon-(1):before {
	content: "\e719";
}
.icon-iconmonstr-coin-icon:before {
	content: "\e71a";
}
.icon-iconmonstr-coin-10-icon:before {
	content: "\e71b";
}
.icon-iconmonstr-coin-9-icon:before {
	content: "\e71c";
}
.icon-iconmonstr-coin-8-icon:before {
	content: "\e71d";
}
.icon-iconmonstr-coin-7-icon:before {
	content: "\e71e";
}
.icon-iconmonstr-coin-6-icon:before {
	content: "\e71f";
}
.icon-iconmonstr-coin-3-icon:before {
	content: "\e720";
}
.icon-iconmonstr-coin-2-icon:before {
	content: "\e721";
}
.icon-iconmonstr-code-8-icon:before {
	content: "\e722";
}
.icon-iconmonstr-code-4-icon:before {
	content: "\e723";
}
.icon-iconmonstr-code-3-icon:before {
	content: "\e724";
}
.icon-iconmonstr-circle-outline-icon:before {
	content: "\e725";
}
.icon-iconmonstr-circle-icon:before {
	content: "\e726";
}
.icon-iconmonstr-chrome-icon:before {
	content: "\e727";
}
.icon-iconmonstr-chrome-5-icon:before {
	content: "\e728";
}
.icon-iconmonstr-chrome-4-icon:before {
	content: "\e729";
}
.icon-iconmonstr-chrome-3-icon:before {
	content: "\e72a";
}
.icon-iconmonstr-chrome-2-icon:before {
	content: "\e72b";
}
.icon-iconmonstr-check-mark-11-icon:before {
	content: "\e72c";
}
.icon-iconmonstr-check-mark-5-icon:before {
	content: "\e72d";
}
.icon-iconmonstr-check-mark-4-icon:before {
	content: "\e72e";
}
.icon-iconmonstr-check-mark-3-icon:before {
	content: "\e72f";
}
.icon-iconmonstr-checkbox-icon:before {
	content: "\e730";
}
.icon-iconmonstr-checkbox-18-icon:before {
	content: "\e731";
}
.icon-iconmonstr-checkbox-17-icon:before {
	content: "\e732";
}
.icon-iconmonstr-checkbox-16-icon:before {
	content: "\e733";
}
.icon-iconmonstr-checkbox-14-icon:before {
	content: "\e734";
}
.icon-iconmonstr-checkbox-13-icon:before {
	content: "\e735";
}
.icon-iconmonstr-checkbox-12-icon:before {
	content: "\e736";
}
.icon-iconmonstr-checkbox-11-icon:before {
	content: "\e737";
}
.icon-iconmonstr-checkbox-3-icon:before {
	content: "\e738";
}
.icon-iconmonstr-checkbox-2-icon:before {
	content: "\e739";
}
.icon-iconmonstr-calendar-8-icon:before {
	content: "\e73a";
}
.icon-iconmonstr-calendar-7-icon:before {
	content: "\e73b";
}
.icon-iconmonstr-calendar-6-icon:before {
	content: "\e73c";
}
.icon-iconmonstr-brightness-icon:before {
	content: "\e73d";
}
.icon-iconmonstr-brightness-4-icon:before {
	content: "\e73e";
}
.icon-iconmonstr-brightness-3-icon:before {
	content: "\e73f";
}
.icon-iconmonstr-briefcase-16-icon:before {
	content: "\e740";
}
.icon-iconmonstr-briefcase-15-icon:before {
	content: "\e741";
}
.icon-iconmonstr-briefcase-12-icon:before {
	content: "\e742";
}
.icon-iconmonstr-briefcase-11-icon:before {
	content: "\e743";
}
.icon-iconmonstr-briefcase-10-icon:before {
	content: "\e744";
}
.icon-iconmonstr-briefcase-6-icon:before {
	content: "\e745";
}
.icon-iconmonstr-briefcase-4-icon:before {
	content: "\e746";
}
.icon-iconmonstr-briefcase-2-icon:before {
	content: "\e747";
}
.icon-iconmonstr-bookmark-27-icon:before {
	content: "\e748";
}
.icon-iconmonstr-bookmark-26-icon:before {
	content: "\e749";
}
.icon-iconmonstr-bookmark-25-icon:before {
	content: "\e74a";
}
.icon-iconmonstr-bookmark-24-icon:before {
	content: "\e74b";
}
.icon-iconmonstr-bookmark-23-icon:before {
	content: "\e74c";
}
.icon-iconmonstr-bookmark-22-icon:before {
	content: "\e74d";
}
.icon-iconmonstr-bookmark-21-icon:before {
	content: "\e74e";
}
.icon-iconmonstr-bookmark-14-icon:before {
	content: "\e74f";
}
.icon-iconmonstr-bookmark-12-icon:before {
	content: "\e750";
}
.icon-iconmonstr-bookmark-10-icon:before {
	content: "\e751";
}
.icon-iconmonstr-bookmark-5-icon:before {
	content: "\e752";
}
.icon-iconmonstr-battery-icon:before {
	content: "\e753";
}
.icon-iconmonstr-battery-25-icon:before {
	content: "\e754";
}
.icon-iconmonstr-battery-19-icon:before {
	content: "\e755";
}
.icon-iconmonstr-battery-18-icon:before {
	content: "\e756";
}
.icon-iconmonstr-battery-14-icon:before {
	content: "\e757";
}
.icon-iconmonstr-battery-13-icon:before {
	content: "\e758";
}
.icon-iconmonstr-battery-12-icon:before {
	content: "\e759";
}
.icon-iconmonstr-battery-11-icon:before {
	content: "\e75a";
}
.icon-iconmonstr-battery-10-icon:before {
	content: "\e75b";
}
.icon-iconmonstr-battery-7-icon:before {
	content: "\e75c";
}
.icon-iconmonstr-battery-6-icon:before {
	content: "\e75d";
}
.icon-iconmonstr-battery-5-icon:before {
	content: "\e75e";
}
.icon-iconmonstr-battery-4-icon:before {
	content: "\e75f";
}
.icon-iconmonstr-battery-2-icon:before {
	content: "\e760";
}
.icon-iconmonstr-barcode-icon:before {
	content: "\e761";
}
.icon-iconmonstr-barcode-10-icon:before {
	content: "\e762";
}
.icon-iconmonstr-barcode-8-icon:before {
	content: "\e763";
}
.icon-iconmonstr-barcode-7-icon:before {
	content: "\e764";
}
.icon-iconmonstr-barcode-6-icon:before {
	content: "\e765";
}
.icon-iconmonstr-barcode-5-icon:before {
	content: "\e766";
}
.icon-iconmonstr-bar-chart-icon:before {
	content: "\e767";
}
.icon-iconmonstr-bar-chart-6-icon:before {
	content: "\e768";
}
.icon-iconmonstr-bar-chart-5-icon:before {
	content: "\e769";
}
.icon-iconmonstr-bar-chart-2-icon:before {
	content: "\e76a";
}
.icon-iconmonstr-antenna-5-icon:before {
	content: "\e76b";
}
.icon-iconmonstr-antenna-4-icon:before {
	content: "\e76c";
}
