{% extends "base.html" %}

{% block title %}{% if not category %}All my Posts{% else %}Posts on {{ category.name|title }} Category{% endif %}{% endblock %}

{% block content %}
		<div class="row">
			<div class="col-md-7 col-md-offset-1">
				<div class="page-header">
					<h4>{% if not category %}All my Posts{% else %}Posts on {{ category.name|title }} Category{% endif %}</h4>
				</div>
				{% for post in object_list %}
				<div class="col-md-4">
					<h4><a href="{{ post.get_absolute_url }}">{{ post.title|title }}</a></h4>
					<small><i class="fa fa-calendar"></i>&nbsp;{{ post.pub_date|date:"F d Y"}}</small>
					{{ post.body|safe|truncatewords:20 }}
				</div>
			{% endfor %}
			</div>
{% include "blog/sidebar.html" %}
		</div>
{% endblock content %}