{% extends "base.html" %}

{% block title %}{% if not category %}All my Posts{% else %}Posts on {{ category.name|title }} Category{% endif %}{% endblock %}

{% block content %}
		<div class="row">
			<div class="col-md-7 col-md-offset-1">
				<div class="page-header">
					<h4>{% if not category %}All my Posts{% else %}Posts on {{ category.name|title }} Category{% endif %}</h4>
				</div>
				{% for post in object_list %}
				<div class="col-md-12">
					<h6><a href="{{ post.get_absolute_url }}">{{ post.title|upper }}</a></h6>
					<h6><small><i class="fa fa-calendar"></i><span class="hs"></span>{{ post.pub_date|date:"F d Y"}}</small></h6>
					{{ post.body|safe|truncatewords:25 }}
				</div>
				<br>
			{% endfor %}
			</div>
{% include "blog/sidebar.html" %}
		</div>
{% endblock content %}