                    <div class="col-md-4">
                        <ul class="nav sidebar">
                            <div class="page-header">
                                <h4>Categories</h4>
                            </div>
                            <li><a href="{% url 'blog' %}" class="asidebar"><span class="badge pull-right">&#8734;</span>All Posts</a></li>
                            {% for category in categories %}
                            <li><a href="{% url 'category' category.slug %}" class="asidebar"><span class="badge pull-right">{{ category.counter }}</span>{{ category.name|title }}</a></li>
                            {% endfor %}
                            <div class="page-header">
                                <h4>Some Posts</h4>
                            </div>
                            {% for post in some_posts %}
                            <li><a href="{% url 'post' post.slug %}" class="asidebar">{{ post.title|title }}</a></li>
                            {% endfor %}
                        </ul>
                        <br>
                    </div>