
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="">

    <title></title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap.css" rel="stylesheet">
	<!-- Fonts -->
    <link href="fonts.css" rel="stylesheet">
	<!-- Custom -->
    <link href="custom.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="navbar-fixed-top.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
		
        <div class="navbar-collapse collapse">
		<!--
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
		 -->
          <ul class="nav navbar-nav navbar-right">
			<li><div class="nav-icon" aria-hidden="true" data-icon="&#xe212;"></div></li>
			<li><div class="nav-icon" aria-hidden="true" data-icon="&#xe1f3;"></div></li>
			<li><div class="nav-icon" aria-hidden="true" data-icon="&#xe1e5;"></div></li>
			<li><div class="nav-icon" aria-hidden="true" data-icon="&#xe1dc;"></div></li>
			<li><div class="nav-icon" aria-hidden="true" data-icon="&#xe1d0;"></div></li>
			<li><div class="nav-icon" aria-hidden="true" data-icon="&#xe20d;"></div></li>
			<li><div class="nav-icon" aria-hidden="true" data-icon="&#xe1fb;"></div></li>
			<li><div class="nav-icon" aria-hidden="true" data-icon="&#xe20b;"></div></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

		<div class="row">
			<div class="col-md-9">
				<div class="page-header">
					<h1>Example page header <small>Subtext for header</small></h1>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin dui feugiat mi convallis fermentum. Proin ac sapien ac libero luctus laoreet. Nam a gravida ipsum. Donec convallis commodo mi sit amet pulvinar. Phasellus purus lectus, auctor non viverra nec, venenatis at turpis. Vestibulum venenatis nibh vel nibh rutrum aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent et faucibus nibh, ut sollicitudin elit. In vulputate tempor tempus. Proin egestas felis elit, a tristique tellus eleifend eu. Nunc cursus sem mauris, nec semper sem sodales varius. Donec at luctus nisl. Mauris in purus vel turpis mattis vulputate. Nullam scelerisque magna lacus, id imperdiet massa malesuada scelerisque. Nam varius mi quis eros rhoncus semper.
				Donec augue nisi, placerat vel porttitor vitae, sodales eget leo. Praesent ullamcorper accumsan felis consectetur porta. Praesent sed congue metus, eu lobortis justo. Nunc condimentum pharetra adipiscing. In facilisis leo ante, et tincidunt dui vulputate eget. Fusce fermentum dui scelerisque lectus ultricies elementum. Nam volutpat ipsum quis vehicula mollis. Etiam purus justo, vulputate at erat sit amet, placerat elementum ipsum.
				Cras vitae elit a nisl gravida consectetur. Vestibulum quis lacus nec massa condimentum blandit at eu augue. Ut vel eros sem. Donec ornare felis dolor, non eleifend risus adipiscing nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus imperdiet tincidunt neque, at dictum risus vestibulum a. Fusce eleifend non arcu feugiat tristique. Fusce nec congue risus, nec fringilla orci. Fusce facilisis diam ac nulla rutrum, non dapibus risus ultrices. Sed sit amet risus venenatis, posuere quam ac, fringilla mi. Donec in augue justo. Aliquam interdum vestibulum risus. Vivamus eget fringilla lectus.
				Nunc in quam tortor. Donec id risus consequat, convallis quam eu, rutrum velit. Praesent auctor lacus sit amet eros sagittis malesuada. Sed dui augue, ullamcorper ullamcorper erat at, condimentum volutpat nulla. Praesent ultrices tempus nisl, id iaculis diam convallis et. Maecenas orci massa, ullamcorper vitae fringilla id, lobortis vel enim. Nullam eu nulla ornare, feugiat massa ut, elementum enim. Integer tortor lorem, dictum id pharetra eget, pretium sed felis. Curabitur a neque id ipsum condimentum lobortis non eu augue. Pellentesque porttitor elit ut mauris sollicitudin tincidunt. Ut lacinia pretium massa eget gravida.
				In hac habitasse platea dictumst. Mauris vulputate nisl nec adipiscing laoreet. Integer a venenatis libero. Ut risus lorem, facilisis a viverra non, aliquet in velit. Donec rutrum dui a enim lacinia, ac suscipit elit venenatis. Sed non eros turpis. Donec in augue nibh. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer eleifend, lectus nec porta vestibulum, massa sem ultrices enim, ut pharetra eros nisl et felis. Vivamus pulvinar non mi quis consectetur.
				</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin dui feugiat mi convallis fermentum. Proin ac sapien ac libero luctus laoreet. Nam a gravida ipsum. Donec convallis commodo mi sit amet pulvinar. Phasellus purus lectus, auctor non viverra nec, venenatis at turpis. Vestibulum venenatis nibh vel nibh rutrum aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent et faucibus nibh, ut sollicitudin elit. In vulputate tempor tempus. Proin egestas felis elit, a tristique tellus eleifend eu. Nunc cursus sem mauris, nec semper sem sodales varius. Donec at luctus nisl. Mauris in purus vel turpis mattis vulputate. Nullam scelerisque magna lacus, id imperdiet massa malesuada scelerisque. Nam varius mi quis eros rhoncus semper.
				Donec augue nisi, placerat vel porttitor vitae, sodales eget leo. Praesent ullamcorper accumsan felis consectetur porta. Praesent sed congue metus, eu lobortis justo. Nunc condimentum pharetra adipiscing. In facilisis leo ante, et tincidunt dui vulputate eget. Fusce fermentum dui scelerisque lectus ultricies elementum. Nam volutpat ipsum quis vehicula mollis. Etiam purus justo, vulputate at erat sit amet, placerat elementum ipsum.
				Cras vitae elit a nisl gravida consectetur. Vestibulum quis lacus nec massa condimentum blandit at eu augue. Ut vel eros sem. Donec ornare felis dolor, non eleifend risus adipiscing nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus imperdiet tincidunt neque, at dictum risus vestibulum a. Fusce eleifend non arcu feugiat tristique. Fusce nec congue risus, nec fringilla orci. Fusce facilisis diam ac nulla rutrum, non dapibus risus ultrices. Sed sit amet risus venenatis, posuere quam ac, fringilla mi. Donec in augue justo. Aliquam interdum vestibulum risus. Vivamus eget fringilla lectus.
				Nunc in quam tortor. Donec id risus consequat, convallis quam eu, rutrum velit. Praesent auctor lacus sit amet eros sagittis malesuada. Sed dui augue, ullamcorper ullamcorper erat at, condimentum volutpat nulla. Praesent ultrices tempus nisl, id iaculis diam convallis et. Maecenas orci massa, ullamcorper vitae fringilla id, lobortis vel enim. Nullam eu nulla ornare, feugiat massa ut, elementum enim. Integer tortor lorem, dictum id pharetra eget, pretium sed felis. Curabitur a neque id ipsum condimentum lobortis non eu augue. Pellentesque porttitor elit ut mauris sollicitudin tincidunt. Ut lacinia pretium massa eget gravida.
				In hac habitasse platea dictumst. Mauris vulputate nisl nec adipiscing laoreet. Integer a venenatis libero. Ut risus lorem, facilisis a viverra non, aliquet in velit. Donec rutrum dui a enim lacinia, ac suscipit elit venenatis. Sed non eros turpis. Donec in augue nibh. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer eleifend, lectus nec porta vestibulum, massa sem ultrices enim, ut pharetra eros nisl et felis. Vivamus pulvinar non mi quis consectetur.
				</p>
			</div>
			<div class="col-md-3 sidebar-nav-fixed">
				<ul class="nav">
				  <h4>Categories</h4>
				  <li><a href="#">Link</a></li>
				  <li><a href="#">Link</a></li>
				  <li><a href="#">Link</a></li>
				  <li><a href="#">Link</a></li>
				  <li><a href="#">Link</a></li>
				  <h4>Random Entiries</h4>
				  <li><a href="#">Link</a></li>
				  <li><a href="#">Link</a></li>
				  <li><a href="#">Link</a></li>
				  <li><a href="#">Link</a></li>
				</ul>
			</div>
		</div>
	
	
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="jquery.js"></script>
    <script src="bootstrap.min.js"></script>
  </body>
</html>
