<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="">
    <title></title>
	<link href="css/bootstrap.css" rel="stylesheet"> <!-- Bootstrap core CSS -->
	<!-- <link href="css/tooltipster.css" rel="stylesheet"> <!-- Tooltipster -->
	<link href="css/fonts.css" rel="stylesheet"> <!-- Fonts -->
    <link href="css/custom.css" rel="stylesheet"> <!-- Custom -->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Jkunst</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
			<li><div class="nav-icon" aria-hidden="true" data-icon="&#xe212;"></div></li>
			<li><div class="nav-icon" aria-hidden="true" data-icon="&#xe1f3;"></div></li>
			<li><div class="nav-icon" aria-hidden="true" data-icon="&#xe1e5;"></div></li>
			<li><div class="nav-icon" aria-hidden="true" data-icon="&#xe1dc;"></div></li>
			<li><div class="nav-icon" aria-hidden="true" data-icon="&#xe1d0;"></div></li>
			<li><div class="nav-icon" aria-hidden="true" data-icon="&#xe20d;"></div></li>
			<li><div class="nav-icon" aria-hidden="true" data-icon="&#xe1fb;"></div></li>
			<li><div class="nav-icon" aria-hidden="true" data-icon="&#xe20b;"></div></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="page-header">
					<h2>Welocome</h2>
				</div>
				<img src="https://lh3.googleusercontent.com/-XQgYJ3SW2w0/AAAAAAAAAAI/AAAAAAAAAM4/vj7OaIMmWqU/s250-c-k/photo.jpg" class="img-thumbnail" style="float:right;margin:0.5em" width="140px">
				<p>Hello! I'm Joshua Kunst, a statistician who likes the programming and visualization join all this insteresting topics ., be free of look in . And </p>
				<p>Please, be free to take a tour between my post and </p>
			</div>
			<div class="col-md-3">
				<div class="page-header">
					<h2>Topics</h2>
				</div>
				<ul class="nav">
				  <li><a href="#"><span class="badge pull-right">42</span>R</a></li>
				  <li><a href="#"><span class="badge pull-right">2</span>Django</a></li>
				  <li><a href="#"><span class="badge pull-right">12</span>Statistics</a></li>
				  <li><a href="#"><span class="badge pull-right">3</span>Javascript</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<div class="page-header">
					<h2>Posts</h2>
				</div>
				<ul class="nav">
				  <li><a href="#"><span class="badge pull-right">42</span>R</a></li>
				  <li><a href="#"><span class="badge pull-right">2</span>Django</a></li>
				  <li><a href="#"><span class="badge pull-right">12</span>Statistics</a></li>
				  <li><a href="#"><span class="badge pull-right">3</span>Javascript</a></li>
				</ul>
			</div>
		</div>
    </div> <!-- /container -->
	<div class="footer">
        <div class="container">
            <div class="row-fluid">
                <div class="col-md-4">
                    <h3>Connect with Us</h3>
                        <p>
						<a href="https://plus.google.com/" rel="publisher">Google+</a><br>
                        <a href="https://twitter.com/bootply">@Bootply</a><br>
                        <a href="https://www.facebook.com/in1dotcom">Facebook</a><br>
                        </p>
                </div>
                <div class="col-md-4">
                    <h3>More</h3>
                    <p>
                        <a href="/">API</a><br>
                        <a href="/">Press Center</a><br>
                      	<a href="/">Privacy Policy</a><br>
                    </p>
                 </div>
                <div class="col-md-4">
                    <h3>Questions?</h3>
                    <div class="pull-left">
                        <p>We've got answers.<br>
                        support@domain.com<br>
                        103-241-2322<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>	
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
	<!--<script src="js/jquery.tooltipster.min.js"></script>-->
	<script>
		$(document).ready(function() {
			//$('#example').tooltip(options)
			//$('.tooltip').tooltipster();
		});
	</script>
  </body>
</html>
