<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="">
    <title></title>
	<link href="css/bootstrap.css" rel="stylesheet"> <!-- Bootstrap core CSS -->
    <link href="css/highlight.js.github.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet"> <!-- Fonts -->
    <link href="css/custom.css" rel="stylesheet"> <!-- Custom -->
  </head>
  <body>
  	<!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Jkunst</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href=""><div class="nav-icon rss" aria-hidden="true" data-icon="&#xe1e5;"></div></a></li>
                    <li><a href=""><div class="nav-icon git-hub" aria-hidden="true" data-icon="&#xe212;"></div></a></li>
                    <li><a href=""><div class="nav-icon last-fm" aria-hidden="true" data-icon="&#xe1fb;"></div></a></li>
                    <li><a href=""><div class="nav-icon stackoverflow" aria-hidden="true" data-icon="&#xe1dc;"></div></a></li>
                    <li><a href=""><div class="nav-icon twitter" aria-hidden="true" data-icon="&#xe1d0;"></div></a></li>
                    <li><a href=""><div class="nav-icon google-plus" aria-hidden="true" data-icon="&#xe20d;"></div></a></li>
                    <li><a href=""><div class="nav-icon linkedin" aria-hidden="true" data-icon="&#xe1f3;"></div></a></li>
                    <li><a href=""><div class="nav-icon random" aria-hidden="true" data-icon="&#xe20b;"></div></a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <div class="container">

		<div class="row dib">
			<div class="col-md-12">
				<div class="page-header dib">
					<h3>Post on This Category</h3>
				</div>
			</div>
		</div>
		<div class="row dib">
			<div class="col-md-4">
				<div class="page-header">
					<h4>Post number1</h4>
					<small><span aria-hidden="true" class="icon-calendar-2"></span>&nbsp;3, December 2010</small>
				</div>
				<img src="img/image.png" class="img-thumbnail" style="float:left;margin:0.5em">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin dui feugiat mi convallis fermentum. Proin ac sapien ac libero luctus laoreet. Nam a gravida ipsum. Donec convallis commodo mi sit amet pulvinar. Phasellus purus lectus, auctor non viverra nec, venenatis at turpis. Vestibulum venenatis nibh vel nibh rutrum aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent et faucibus nibh, ut sollicitudin elit. In vulputate tempor tempus. Proin egestas felis elit, a tristique tellus eleifend eu. Nunc cursus sem mauris, nec semper sem sodales varius. Donec at luctus nisl. Mauris in purus vel turpis mattis vulputate. Nullam scelerisque magna lacus, id imperdiet massa malesuada scelerisque. Nam varius mi quis eros rhoncus semper...
				</p>
			</div>
			<div class="col-md-4">
				<div class="page-header">
					<h4>Post number1</h4>
					<small><span aria-hidden="true" class="icon-calendar-2"></span>&nbsp;15, December 2010</small>
				</div>
				<img src="img/image.png" class="img-thumbnail" style="float:left;margin:0.5em">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin dui feugiat mi convallis fermentum. Proin ac sapien ac libero luctus laoreet. Nam a gravida ipsum. Donec convallis commodo mi sit amet pulvinar. Phasellus purus lectus, auctor non viverra nec, venenatis at turpis. Vestibulum venenatis nibh vel nibh rutrum aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent et faucibus nibh, ut sollicitudin elit. In vulputate tempor tempus. Proin egestas felis elit, a tristique tellus eleifend eu. Nunc cursus sem mauris, nec semper sem sodales varius. Donec at luctus nisl. Mauris in purus vel turpis mattis vulputate. Nullam scelerisque magna lacus, id imperdiet massa malesuada scelerisque. Nam varius mi quis eros rhoncus semper...
				</p>
			</div>
			<div class="col-md-4">
				<div class="page-header">
					<h4>Post number1</h4>
					<small><span aria-hidden="true" class="icon-calendar-2"></span>&nbsp;30, December 2010</small>
				</div>
				<img src="img/image.png" class="img-thumbnail" style="float:left;margin:0.5em">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin dui feugiat mi convallis fermentum. Proin ac sapien ac libero luctus laoreet. Nam a gravida ipsum. Donec convallis commodo mi sit amet pulvinar. Phasellus purus lectus, auctor non viverra nec, venenatis at turpis. Vestibulum venenatis nibh vel nibh rutrum aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent et faucibus nibh, ut sollicitudin elit. In vulputate tempor tempus. Proin egestas felis elit, a tristique tellus eleifend eu. Nunc cursus sem mauris, nec semper sem sodales varius. Donec at luctus nisl. Mauris in purus vel turpis mattis vulputate. Nullam scelerisque magna lacus, id imperdiet massa malesuada scelerisque. Nam varius mi quis eros rhoncus semper...
				</p>
			</div>			
		</div>
		<div class="row dib">
			<div class="col-md-4">
				<div class="page-header">
					<h4>Post number1</h4>
					<small><span aria-hidden="true" class="icon-calendar-2"></span>&nbsp;3, December 2010</small>
				</div>
				<img src="img/image.png" class="img-thumbnail" style="float:left;margin:0.5em">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin dui feugiat mi convallis fermentum. Proin ac sapien ac libero luctus laoreet. Nam a gravida ipsum. Donec convallis commodo mi sit amet pulvinar. Phasellus purus lectus, auctor non viverra nec, venenatis at turpis. Vestibulum venenatis nibh vel nibh rutrum aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent et faucibus nibh, ut sollicitudin elit. In vulputate tempor tempus. Proin egestas felis elit, a tristique tellus eleifend eu. Nunc cursus sem mauris, nec semper sem sodales varius. Donec at luctus nisl. Mauris in purus vel turpis mattis vulputate. Nullam scelerisque magna lacus, id imperdiet massa malesuada scelerisque. Nam varius mi quis eros rhoncus semper...
				</p>
			</div>
			<div class="col-md-4">
				<div class="page-header">
					<h4>Post number1</h4>
					<small><span aria-hidden="true" class="icon-calendar-2"></span>&nbsp;15, December 2010</small>
				</div>
				<img src="img/image.png" class="img-thumbnail" style="float:left;margin:0.5em">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin dui feugiat mi convallis fermentum. Proin ac sapien ac libero luctus laoreet. Nam a gravida ipsum. Donec convallis commodo mi sit amet pulvinar. Phasellus purus lectus, auctor non viverra nec, venenatis at turpis. Vestibulum venenatis nibh vel nibh rutrum aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent et faucibus nibh, ut sollicitudin elit. In vulputate tempor tempus. Proin egestas felis elit, a tristique tellus eleifend eu. Nunc cursus sem mauris, nec semper sem sodales varius. Donec at luctus nisl. Mauris in purus vel turpis mattis vulputate. Nullam scelerisque magna lacus, id imperdiet massa malesuada scelerisque. Nam varius mi quis eros rhoncus semper...
				</p>
			</div>
			<div class="col-md-4">
				<div class="page-header">
					<h4>Post number1</h4>
					<small><span aria-hidden="true" class="icon-calendar-2"></span>&nbsp;30, December 2010</small>
				</div>
				<img src="img/image.png" class="img-thumbnail" style="float:left;margin:0.5em">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin dui feugiat mi convallis fermentum. Proin ac sapien ac libero luctus laoreet. Nam a gravida ipsum. Donec convallis commodo mi sit amet pulvinar. Phasellus purus lectus, auctor non viverra nec, venenatis at turpis. Vestibulum venenatis nibh vel nibh rutrum aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent et faucibus nibh, ut sollicitudin elit. In vulputate tempor tempus. Proin egestas felis elit, a tristique tellus eleifend eu. Nunc cursus sem mauris, nec semper sem sodales varius. Donec at luctus nisl. Mauris in purus vel turpis mattis vulputate. Nullam scelerisque magna lacus, id imperdiet massa malesuada scelerisque. Nam varius mi quis eros rhoncus semper...
				</p>
			</div>			
		</div>		
    </div> <!-- /container -->
    <div class="container navbar-default dib">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav navbar-nav navbar-left iconslinks">
                    <li><a href=""><div class="nav-icon rss" aria-hidden="true" data-icon="&#xe1e5;"></div></a></li>
                    <li><a href=""><div class="nav-icon git-hub" aria-hidden="true" data-icon="&#xe212;"></div></a></li>
                    <li><a href=""><div class="nav-icon last-fm" aria-hidden="true" data-icon="&#xe1fb;"></div></a></li>
                    <li><a href=""><div class="nav-icon stackoverflow" aria-hidden="true" data-icon="&#xe1dc;"></div></a></li>
                    <li><a href=""><div class="nav-icon twitter" aria-hidden="true" data-icon="&#xe1d0;"></div></a></li>
                    <li><a href=""><div class="nav-icon google-plus" aria-hidden="true" data-icon="&#xe20d;"></div></a></li>
                    <li><a href=""><div class="nav-icon linkedin" aria-hidden="true" data-icon="&#xe1f3;"></div></a></li>
                    <li><a href=""><div class="nav-icon random" aria-hidden="true" data-icon="&#xe20b;"></div></a></li>
                </ul>
            </div>         
        </div>
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- <script src="js/custom.js"></script> -->
    <script src="js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
