<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="">
    <title></title>
	<link href="css/bootstrap.css" rel="stylesheet"> <!-- Bootstrap core CSS -->
    <link href="css/highlight.js.github.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet"> <!-- Fonts -->
    <link href="css/custom.css" rel="stylesheet"> <!-- Custom -->
  </head>
  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Jkunst</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href=""><div class="nav-icon rss" aria-hidden="true" data-icon="&#xe1e5;"></div></a></li>
                    <li><a href=""><div class="nav-icon git-hub" aria-hidden="true" data-icon="&#xe212;"></div></a></li>
                    <li><a href=""><div class="nav-icon last-fm" aria-hidden="true" data-icon="&#xe1fb;"></div></a></li>
                    <li><a href=""><div class="nav-icon stackoverflow" aria-hidden="true" data-icon="&#xe1dc;"></div></a></li>
                    <li><a href=""><div class="nav-icon twitter" aria-hidden="true" data-icon="&#xe1d0;"></div></a></li>
                    <li><a href=""><div class="nav-icon google-plus" aria-hidden="true" data-icon="&#xe20d;"></div></a></li>
                    <li><a href=""><div class="nav-icon linkedin" aria-hidden="true" data-icon="&#xe1f3;"></div></a></li>
                    <li><a href=""><div class="nav-icon random" aria-hidden="true" data-icon="&#xe20b;"></div></a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <div class="container">
		<div class="row dib">
			<div class="col-md-8">
				<div class="page-header">
					<h3>Post page header</h3>
				</div>
				<b>
					<span aria-hidden="true" class="icon-calendar-2"></span>&nbsp;3, December 2010<span class="tab"></span>
					<span aria-hidden="true" class="icon-drawer-3"></span>&nbsp; R, Python, JS<span class="tab"></span>
					<span aria-hidden="true" class="icon-comments"></span>&nbsp;5 Comments
				</b>
				<hr>
				<img src="img/image.png" class="img-thumbnail" style="float:left">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin dui feugiat mi convallis fermentum. Proin ac sapien ac libero luctus laoreet. Nam a gravida ipsum. Donec convallis commodo mi sit amet pulvinar. Phasellus purus lectus, auctor non viverra nec, venenatis at turpis. Vestibulum venenatis nibh vel nibh rutrum aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent et faucibus nibh, ut sollicitudin elit. In vulputate tempor tempus. Proin egestas felis elit, a tristique tellus eleifend eu. Nunc cursus sem mauris, nec semper sem sodales varius. Donec at luctus nisl. Mauris in purus vel turpis mattis vulputate.
				Cras vitae elit a isl gravida consectetur. Vestibulum quis lacus nec massa condimentum blandit at eu augue. Ut vel eros sem. Donec ornare felis dolor, non eleifend risus adipiscing nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus imperdiet tincidunt neque, at dictum risus vestibulum a. Fusce eleifend non arcu feugiat tristique. Fusce nec congue risus, nec fringilla orci. Fusce facilisis diam ac nulla rutrum, non dapibus risus ultrices. Sed sit amet risus venenatis, posuere quam ac, fringilla mi. Donec in augue justo. Aliquam interdum vestibulum risus. Vivamus eget fringilla lectus.
				Nunc in quam tortor. Donec id risus consequat, convallis quam eu, rutrum velit. Praesent auctor lacus sit amet eros sagittis malesuada. Sed dui augue, ullamcorper ullamcorper erat at, condimentum volutpat nulla. Praesent ultrices tempus nisl, id iaculis diam convallis et. Maecenas orci massa, ullamcorper vitae fringilla id, lobortis vel enim. Nullam eu nulla ornare, feugiat massa ut, elementum enim. Integer tortor lorem, dictum id pharetra eget, pretium sed felis. Curabitur a neque id ipsum condimentum lobortis non eu augue. Pellentesque porttitor elit ut mauris sollicitudin tincidunt. Ut lacinia pretium massa eget gravida.
				In hac habitasse platea dictumst. Mauris vulputate nisl nec adipiscing laoreet. Integer a venenatis libero. Ut risus lorem, facilisis a viverra non, aliquet in velit. Donec rutrum dui a enim lacinia, ac suscipit elit venenatis. Sed non eros turpis. Donec in augue nibh. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer eleifend, lectus nec porta vestibulum, massa sem ultrices enim, ut pharetra eros nisl et felis. Vivamus pulvinar non mi quis consectetur.
				</p>
                <pre><code class="r">
library(ggplot2)
var = sum(rnorm(10) + 5)
func <- function(var){
    return exp(var^2)
}
                </code></pre>
				<img src="img/image.png" class="img-thumbnail" style="float:right">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin dui feugiat mi convallis fermentum. Proin ac sapien ac libero luctus laoreet. Nam a gravida ipsum. Donec convallis commodo mi sit amet pulvinar. Phasellus purus lectus, auctor non viverra nec, venenatis at turpis. Vestibulum venenatis nibh vel nibh rutrum aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent et faucibus nibh, ut sollicitudin elit. In vulputate tempor tempus. Proin egestas felis elit, a tristique tellus eleifend eu. Nunc cursus sem mauris, nec semper sem sodales varius. Donec at luctus nisl. Mauris in purus vel turpis mattis vulputate. Nullam scelerisque magna lacus, id imperdiet massa malesuada scelerisque. Nam varius mi quis eros rhoncus semper.
                <pre><code class="python">
import os
def fun(request):
    return "some value"

print "bla bla"
                </code></pre>                    
				Donec augue nisi, placerat vel porttitor vitae, sodales eget leo. Praesent ullamcorper accumsan felis consectetur porta. Praesent sed congue metus, eu lobortis justo. Nunc condimentum pharetra adipiscing. In facilisis leo ante, et tincidunt dui vulputate eget. Fusce fermentum dui scelerisque lectus ultricies elementum. Nam volutpat ipsum quis vehicula mollis. Etiam purus justo, vulputate at erat sit amet, placerat elementum ipsum.
				</p>			
			</div>
			<!-- the sidebar -->
			<div class="col-md-4">
				<ul class="nav sidebar">
                    <div class="page-header">
						<h3>Categories</h3>
					</div>
                    <li><a href="#" class="asidebar"><span class="badge pull-right">42</span>R</a></li>
                    <li><a href="#" class="asidebar"><span class="badge pull-right">2</span>Django</a></li>
                    <li><a href="#" class="asidebar"><span class="badge pull-right">12</span>Statistics</a></li>
                    <li><a href="#" class="asidebar"><span class="badge pull-right">3</span>Javascript</a></li>
                    <div class="page-header">
						<h3>Categories</h3>
					</div>
                    <li><a href="#" class="asidebar">Link</a></li>
                    <li><a href="#" class="asidebar">Link</a></li>
                    <li><a href="#" class="asidebar">Link</a></li>
                    <li><a href="#" class="asidebar">Link</a></li>
                </ul>
			</div>
		</div>
    </div> <!-- /container -->
    <div class="container navbar-default dib">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav navbar-nav navbar-left iconslinks">
                    <li><a href=""><div class="nav-icon rss" aria-hidden="true" data-icon="&#xe1e5;"></div></a></li>
                    <li><a href=""><div class="nav-icon git-hub" aria-hidden="true" data-icon="&#xe212;"></div></a></li>
                    <li><a href=""><div class="nav-icon last-fm" aria-hidden="true" data-icon="&#xe1fb;"></div></a></li>
                    <li><a href=""><div class="nav-icon stackoverflow" aria-hidden="true" data-icon="&#xe1dc;"></div></a></li>
                    <li><a href=""><div class="nav-icon twitter" aria-hidden="true" data-icon="&#xe1d0;"></div></a></li>
                    <li><a href=""><div class="nav-icon google-plus" aria-hidden="true" data-icon="&#xe20d;"></div></a></li>
                    <li><a href=""><div class="nav-icon linkedin" aria-hidden="true" data-icon="&#xe1f3;"></div></a></li>
                    <li><a href=""><div class="nav-icon random" aria-hidden="true" data-icon="&#xe20b;"></div></a></li>
                </ul>
            </div>         
        </div>
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
	<script src="js/share.min.js"></script>
    <script src="js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
	<script src="js/custom.js"></script>
  </body>
</html>
