{% extends "blog/base.html" %}

{% block title %}{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}

{% block content %}
				<div id="maincontent">		
					{% for entry in entries.object_list %}
					{% load comments %}
					<div class="post">
						<h3 class="posttitle"><a href="{% url blog.views.entry entry.slug %}">{{ entry.title|title }}</a></h3>
							<span class="entry-utility">
								<span class="date">
									<img src="{{ STATIC_URL }}images/iconmonstr-calendar-8-icon.png" alt="" width=16 />
									{{ entry.pub_date|date:"F d Y"}}&nbsp;&nbsp;&nbsp;
								</span>
								<span class="date">
									<a href=""><img src="{{ STATIC_URL }}images/iconmonstr-speech-bubble-14-icon.png" alt="" width=16 /></a>
									<a href="http://jkunst.com{% url blog.views.entry entry.slug %}#disqus_thread"></a>	
								</span>
							</span>
						<div class="entry-content">
							{{ entry.get_image2|safe }}
							{{ entry.body|safe }}
						</div>
                       </div>
					{% endfor %}
					<div>
						<center>
						{% if entries.has_previous %}
							<a href="?page={{ entries.previous_page_number }}"><img src="{{ STATIC_URL }}images/iconmonstr-arrow-l-31-icon.png" alt="" width=16 /></a>
						{% endif %}
							Page {{ entries.number }} of {{ entries.paginator.num_pages }}
						{% if entries.has_next %}
							<a href="?page={{ entries.next_page_number }}"><img src="{{ STATIC_URL }}images/iconmonstr-arrow-r-31-icon.png" alt="" width=16 /></a>
						{% endif %}
						</center>
					</div>
				</div><!-- end #maincontent -->
				<div id="side">
					{% include "blog/side.html" %}
				</div><!-- end #side -->
				<div class="clear"></div><!-- clear float -->
				<script type="text/javascript">
					/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
					var disqus_shortname = 'example'; // required: replace example with your forum shortname

					/* * * DON'T EDIT BELOW THIS LINE * * */
					(function () {
					var s = document.createElement('script'); s.async = true;
					s.type = 'text/javascript';
					s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
					(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
					}());
				</script>
{% endblock %}