{% extends "base.html" %}

{% block title %}About me{% endblock %}

{% block css %}
    <link href="http://eragonj.github.io/Trip.js/src/trip.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="http://iamceege.github.io/tooltipster/css/tooltipster.css"/>
    <style type="text/css">
        .container-info{
            width:100%;
            height:250px
        }
        .summary-icon1 {
          padding: 15px;
          padding-left: 50px;
          padding-right: 50px;
          font-size: 95px;
          color: #DDD;
          -webkit-transition: color 0.2s linear;
          -moz-transition: color 0.2s linear;
          -ms-transition: color 0.2s linear;
          -o-transition: color 0.2s linear;
          transition: color 0.2s linear;
        }
        .summary-icon1:hover {
          color: white;
        }

        .summary-icon2 {
          padding: 15px;
          padding-left: 50px;
          padding-right: 50px;
          font-size: 75px;
          color: #DDD;
        }

        .item{
          padding-bottom: 40px;
        }

        .tooltipster-light {
            border-radius: 5px; 
            border: 1px solid #cccccc;
            background: #ededed;
            color: #666666;
        }
        .tooltipster-light .tooltipster-content {
            font-family: 'Lato', sans-serif;
            font-size: 14px;
            line-height: 16px;
            padding: 8px 10px;
        }
    </style>
{% endblock css %}

{% block js %}
    {% load staticfiles %}
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://eragonj.github.io/Trip.js/src/trip.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="https://rawgithub.com/jasondavies/d3-cloud/master/d3.layout.cloud.js"></script>
    <script type="text/javascript" src="http://iamceege.github.io/tooltipster/js/jquery.tooltipster.js"></script>
    <script src="{% static 'extras/resume.js' %}"></script>
{% endblock js %}

{% block content %}
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="page-header">
              <h3>About<small>&nbsp;click <span id="start-trip"><a href="#">here</a></span> to tell you the story, or just we can <span><a href="{% url 'index' %}">get back</a></span>.</small></h3>
            </div>
            <div class="row">
              <div class="col-md-12 item" id="summary">
                <div class="page-header">
                      <h4>Summary</h4>
                </div>
                <div class="text-center">
                  <i id="codez" class="summary-icon1 fa fa-code"></i>
                  <i id="stats" class="summary-icon1 fa fa-bar-chart-o"></i>
                  <i id="data" class="summary-icon1 fa fa-database"></i>
                  <i id="experiment" class="summary-icon1 fa fa-flask"></i>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 item" id="experience">
                <div class="page-header">
                  <h4>Experience</h4>
                </div>
                <div id="container" class="container-info"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 item" id="interests">
                <div class="page-header">
                  <h4>Interests</h4>
                </div>
                <div id="container2" class="container-info"></div>
              </div>
              <div class="col-md-6 item" id="hobby">
                <div class="page-header">
                  <h4>Hobby Space</h4>
                </div>
                <div id="container3" class="container-info"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 item" id="otherplaces">
                <div class="page-header">
                  <h4>Where I am</h4>
                </div>
                <div id="container4" class="text-center">
                  <a href="http://github.com/jbkunst/" target="_blank">
                    <i class="fa fa-github-alt fa-inverse git-hub icon summary-icon2"></i>
                  </a>
                  <a href="https://plus.google.com/+JoshuaKunst/posts" target="_blank">
                    <i class="fa fa-google-plus fa-inverse google-plus icon summary-icon2"></i>
                  </a>
                  <a href="http://www.linkedin.com/in/joshuakunst" target="_blank">
                    <i class="fa fa-linkedin fa-inverse linkedin icon summary-icon2"></i>
                  </a>
                  <a href="https://twitter.com/jbkunst" target="_blank">
                    <i class="fa fa-twitter fa-inverse twitter icon summary-icon2"></i>
                  </a>
                  <a href="mailto:jbkunst@gmail.com">
                    <i class="fa fa-envelope fa-inverse mail icon summary-icon2"></i>
                  </a>                            
                  <a href="http://stackoverflow.com/users/829971/jbkunst" target="_blank">
                    <i class="fa fa-stack-overflow fa-inverse stack-overflow icon summary-icon2"></i>
                  </a>
                  <a href="http://open.spotify.com/user/jbkunst" target="_blank">
                    <i class="fa fa-spotify fa-inverse spotify icon summary-icon2"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock content %}
