{% extends "base.html" %}

{% block title %}About me{% endblock %}

{% block css %}
    <link href="http://eragonj.github.io/Trip.js/src/trip.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="http://iamceege.github.io/tooltipster/css/tooltipster.css"/>
    <style type="text/css">
        .container-info{
            width:100%;
            height:250px
        }
        .tooltipster-light {
            border-radius: 5px; 
            border: 1px solid #cccccc;
            background: #ededed;
            color: #666666;
        }
        .tooltipster-light .tooltipster-content {
            font-family: 'Lato', sans-serif;
            font-size: 14px;
            line-height: 16px;
            padding: 8px 10px;
        }
    </style>
{% endblock css %}

{% block js %}
    {% load staticfiles %}
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://eragonj.github.io/Trip.js/src/trip.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="https://rawgithub.com/jasondavies/d3-cloud/master/d3.layout.cloud.js"></script>
    <script type="text/javascript" src="http://iamceege.github.io/tooltipster/js/jquery.tooltipster.js"></script>
    <script src="{% static 'extras/resume.js' %}"></script>
{% endblock js %}

{% block content %}
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="page-header">
                    <h3>About<small>&nbsp;click <span id="start-trip"><a href="#">here</a></span> to tell you the story, or just we can <span><a href="{% url 'index' %}">get back</a></span>.</small></h3>
                </div>
                <div class="row">          
                    <div class="col-md-6 item" id="summary">
                        <div class="page-header">
                            <h4>Summary</h4>
                        </div>
                        <div class="col-md-6 item text-center" id="codez">
                            <i class="summary-icon fa fa-terminal"></i>
                        </div>
                        <div class="col-md-6 item text-center" id="stats">
                            <i class="summary-icon fa fa-bar-chart-o"></i>
                        </div>
                        <div class="col-md-6 item text-center" id="data">
                            <i class="summary-icon fa fa-database"></i>
                        </div>
                        <div class="col-md-6 item text-center" id="experiment">
                            <i class="summary-icon fa fa-flask"></i>
                        </div>
                    </div>
                    <div class="col-md-6 item" id="experience">
                        <div class="page-header">
                            <h4>Experience</h4>
                        </div>
                        <div id="container" class="container-info"></div>
                    </div>
                    <div class="col-md-6 item" id="interests">
                        <div class="page-header">
                            <h4>Interests</h4>
                        </div>
                        <div id="container2" class="container-info"></div>
                    </div>
                    <div class="col-md-6 item" id="hobby">
                        <div class="page-header">
                            <h4>Hobby Space</h4>
                        </div>
                        <div id="container3" class="container-info"></div>
                    </div>
                    <div class="col-md-6 item" id="otherplaces">
                        <div class="page-header">
                            <h4>Where I am</h4>
                        </div>
                        <div id="container4" class="container-info">
                            <a href="https://github.com/jbkunst/" target="_blank">
                                 <span class="fa-stack fa-lg git-hub icon place-icon">
                                      <i class="fa fa-square fa-stack-2x"></i>
                                      <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
                                 </span>
                            </a>
                            <a href="https://plus.google.com/+JoshuaKunst/posts" target="_blank">
                                 <span class="fa-stack fa-lg google-plus icon place-icon">
                                      <i class="fa fa-square fa-stack-2x"></i>
                                      <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                                 </span>
                            </a>
                            <a href="http://www.linkedin.com/in/joshuakunst" target="_blank">
                                 <span class="fa-stack fa-lg linkedin icon place-icon">
                                      <i class="fa fa-square fa-stack-2x"></i>
                                      <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                 </span>
                            </a>
                            <a href="https://twitter.com/jbkunst" target="_blank">
                                 <span class="fa-stack fa-lg twitter icon place-icon">
                                      <i class="fa fa-square fa-stack-2x"></i>
                                      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                 </span>
                            </a>
                            <a href="mailto:jbkunst@gmail.com">
                                 <span class="fa-stack fa-lg mail icon place-icon">
                                      <i class="fa fa-square fa-stack-2x"></i>
                                      <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                                 </span>
                            </a>                            
                            <a href="http://stackoverflow.com/users/829971/jbkunst" target="_blank">
                                 <span class="fa-stack fa-lg stack-overflow icon place-icon">
                                      <i class="fa fa-square fa-stack-2x"></i>
                                      <i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i>
                                 </span>
                            </a>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}
