{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="http://cdn.knightlab.com/libs/timeline/latest/css/timeline.css">
    <link href="https://rawgithub.com/EragonJ/Trip.js/master/src/trip.min.css" rel="stylesheet" type="text/css">
{% endblock css %}

{% block js %}
    {% load staticfiles %}
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://rawgithub.com/EragonJ/Trip.js/master/src/trip.min.js"></script>
    <script>
        $(function () { 

            plot_options_timeline = {
                chart: {
                    type: 'line',
                    renderTo: 'container',
                    backgroundColor:'transparent',
                    zoomType: 'x',
                },
                title: {
                    text: ""
                },
                xAxis: {
                    labels: {
                        enabled: true
                    },
                    type: 'datetime',

                },
                legend: {
                    enabled: false,
                },
                credits: {
                    enabled: false,
                },
                yAxis: {
                    labels: {
                        enabled: false
                    },
                    title: {
                        text: ''
                    },
                    gridLineColor: 'transparent',
                },
                tooltip: {
                    formatter: function() {
                            return '<b>'+ this.series.name +'</b><br/>'+
                            this.series.text;
                    }
                },
                series: [
                    {
                        name: 'Estudios I',
                        text: 'desde esta fecha  a esta',
                        lineWidth: 10,
                        data: [
                            [Date.UTC(2004,  9, 27), 1 ],
                            [Date.UTC(2010, 10, 10), 1 ],
                        ]
                    }, {
                        name: 'Trabajo 2',
                        text: 'desde esta fecha  a esta',
                        lineWidth: 10,
                        data: [
                            [Date.UTC(2010, 10, 10), 2 ],
                            [Date.UTC(2012,  9, 26), 2 ],
                        ]
                    }, {
                        name: 'Trabajo III',
                        text: 'desde esta fecha  a esta',
                        lineWidth: 10,
                        data: [
                            [Date.UTC(2012,  9, 26), 3 ],
                            [Date.UTC(2014,  9, 14), 3],
                        ]
                    }
                ]
            }

            chart = new Highcharts.Chart(plot_options_timeline);

            plot_options_interest = {
                chart: {
                    renderTo: 'container2',
                    backgroundColor:'transparent',
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: ''
                },
                credits: {
                    enabled: false,
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            color: '#FFF',
                            connectorColor: '#000000',
                            format: '<b>{point.name}</b>'
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Browser share',
                    data: [
                        ['Firefox',   45.0],
                        ['IE',       26.8],
                        ['Safari',    8.5],
                        ['Opera',     6.2],
                        ['Others',   0.7]
                    ]
                }]
            }

            chart = new Highcharts.Chart(plot_options_interest);

            var trip = new Trip([
                { sel : $("#experience"), content : "Controll<br>asldasd lasdas ñasda", position : "e", expose : true, delay: 3000},
                { sel : $("#interesting"), content : "Varaible asdas asdas dasd asdasd <br>asdasd", position : "w", expose : true, delay: 8000},
              ], {
                tripTheme : "white",
                animation: "fadeIn",
              });

            $("#start-trip").on("click", function() {
                trip.start();
            });
        });
    </script>
{% endblock js %}

{% block content %}
        <div class="row">
            <div class="col-md-12">
                <div class="page-header" id="start-trip">
                    <h3>Welcome</h3>
                </div>
            </div>
            <div class="col-md-8" id="experience">
                <div class="page-header">
                    <h4>Experience</h4>
                </div>
                <div id="container" style="width:100%; height:200px;"></div>
            </div>
            <div class="col-md-4" id="interesting">
                <div class="page-header">
                    <h4>Intersting</h4>
                </div>
                <div id="container2" style="width:100%; height:200px;"></div>
            </div>
            <div class="col-md-4">
                <div class="page-header">
                    <h4>Do</h4>
                </div>
            </div>
            <div class="col-md-8">
                <div class="page-header">
                    <h4>Do</h4>
                </div>
            </div>
            </div>
        </div>
{% endblock content %}
