{% extends "base.html" %}
{% block content %}
		<div class="row">
			<div class="col-md-6">
				<div class="page-header">
					<h4>Welcome</h4>
				</div>
				<p>Hello! I'm Joshua Kunst, a human being who likes the statistics, programming and visualization and (try to) join all this insteresting topics. I like share code and ideas, so please be free to take a tour in the site or comment if you want it.</p>
				<p>You don't know here to start? Then go to my <a href="{% url 'blog' %}">lastest post</a>.</p>
			</div>
			<div class="col-md-3">
				<div class="page-header">
					<h4>Some Posts that I wrote</h4>
				</div>
				<ul class="nav">
					{% for post in some_posts %}
					<li><a href="{% url 'post' post.slug %}" class="asidebar">{{ post.title|title }}</a></li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-md-3">
				<div class="page-header">
					<h4>Topics in this site</h4>
				</div>
				<ul class="nav">
					{% for category in categories %}
					<li><a href="{% url 'category' category.slug %}" class="asidebar"><span class="badge pull-right">{{ category.counter }}</span>{{ category.name|title }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="page-header">
					<h4>Topics in this site <em>a la D3js</em></h4>
				</div>
				<div id="categories-d3"></div>
				{% load staticfiles %}
				<script src="{% static 'js/d3.v3.min.js' %}" charset="utf-8"></script>
				<style type="text/css">
					.node {
						stroke: #fff;
						stroke-width: 1.5px;
					}
					.link {
						stroke: #999;
						stroke-opacity: .6;
					}
				</style>
				<script>
				(function() {
					var width = 300,
						height = 300;
					
					var force = d3.layout.force()
							.charge(-100)
							.linkDistance(50)
							.size([width, height]);
					
					var svg = d3.select("#categories-d3")
							.append("center")
							.append("svg")
							.attr("width", width)
							.attr("height", height);

					var nodes = [{% for category in categories %}{ "name": "{{category.name}}", "count": {{ category.counter }} },{% endfor %}]

					force
						.nodes(nodes)
						//.links(graph.links)
						.start();
					
					var node = svg.selectAll(".node")
							.data(nodes)
							.enter().append("circle")
							.attr("class", "node")
							.attr("r", function(d){ return d.count*3})
							.style("fill", function(d) { return "red"; })
							.call(force.drag);

					force.on("tick", function() {
						node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"});
					});
				})();
				</script>
			</div>
			<div class="col-md-6">
				<div class="page-header">
					<h4>Things that I like<!-- <span class="icon-iconmonstr-favorite-4-icon" style="color: #C3000D"></span> --></h4>
				</div>
				<p>
					<a href="http://www.r-project.org/">R</a>, even if it is slow sometimes (Mmm...mmmaybe is how I write my code ;P). <a href="http://d3js.org/">D3js</a>. Even if it causes me headaches when I try to do something. <a href="http://www.python.org/">Python</a> & <a href="https://www.djangoproject.com/">Django</a>. <a href="http://www.dota2.com/">Dota2</a>. So addictive.
				</p>
			</div>
		</div>
		<div class="row">
		</div>

{% endblock content %}
