{% extends "base.html" %}
{% block content %}
		<div class="row dib">
			<div class="col-md-3">
				<div class="page-header">
					<h4>Welcome</h4>
				</div>
				<p>Hello! I'm Joshua Kunst, a human being, man, statistician who likes the programming and visualization and (try to) join all this insteresting topics. I like share code and ideas, so please be free to take a tour in the site or comment if you want it.</p>
				<p>You don't know here to start? Then go to my <a href="{% url 'blog' %}">lastest post</a>.</p>
				<!--
				<img src="https://lh3.googleusercontent.com/-XQgYJ3SW2w0/AAAAAAAAAAI/AAAAAAAAAM4/vj7OaIMmWqU/s250-c-k/photo.jpg" class="img-thumbnail" style="float:right" width="140px">
				-->
				<!-- <p>I'm not so wise to give you some advices but always it's good remember certain  things.</p>
				<ul>
					<li>If you like coding (independently of what lenguaje is) is good to keep in mind <a href="http://www.python.org/dev/peps/pep-0020/" target="_blank">this</a>.</li>
					<li>At work: <em>Better is better than perferct</em>.</li>
				</ul>
				<p>Ah! and my github profile.</p>
				<center>
					<iframe src="http://githubbadge.appspot.com/badge/jbkunst" style="border: 0;height: 142px;width: 200px;overflow: hidden; float:right" frameBorder=0></iframe>
				</center> -->
			</div>
			<div class="col-md-3">
				<div class="page-header">
					<h4>Things that I like<!-- <span class="icon-iconmonstr-favorite-4-icon" style="color: #C3000D"></span> --></h4>
				</div>
				<p><a href="http://www.r-project.org/">R</a>. Even if it is slow sometimes.</p>
				<p><a href="http://d3js.org/">D3js</a>. Even if it causes me headaches.</p>
				<p><a href="http://www.python.org/">Python</a> & <a href="https://www.djangoproject.com/">Django</a>.</p>
				<p><a href="http://www.dota2.com/">Dota2</a>. So addictive.</p>
			</div>
			<div class="col-md-3">
				<div class="page-header">
					<h4>Some Posts that I wrote</h4>
				</div>
				<ul class="nav">
					{% for post in some_posts %}
					<li><a href="{% url 'post' post.slug %}" class="asidebar">{{ post.title|title }}</a></li>
					{% endfor %}
				</ul>
			</div>			
			<div class="col-md-3">
				<div class="page-header">
					<h4>Topics in this site</h4>
				</div>
				<ul class="nav">
					{% for category in categories %}
					<li><a href="{% url 'category' category.slug %}" class="asidebar"><span class="badge pull-right">{{ category.counter }}</span>{{ category.name|title }}</a></li>
					{% endfor %}
				</ul>
			</div>

		</div>
{% endblock content %}