                    <a href="{% url 'index' %}">
                         <i class="fa fa-2x fa-home fa-inverse home icon"></i>
                    </a>
                    <a href="{% url 'about' %}">
                         <i class="fa fa-2x fa-ra fa-inverse about icon"></i>
                    </a>
                    <a href="{% url 'blog-rss' %}">
                         <span class="fa-stack fa-lg rss icon">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                         </span>
                    </a>
                    <a href="https://github.com/jbkunst/" target="_blank">
                         <span class="fa-stack fa-lg git-hub icon">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
                         </span>
                    </a>
                    <a href="https://plus.google.com/+JoshuaKunst/posts" target="_blank">
                         <span class="fa-stack fa-lg google-plus icon">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                         </span>
                    </a>
                    <a href="http://www.linkedin.com/in/joshuakunst" target="_blank">
                         <span class="fa-stack fa-lg linkedin icon">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                         </span>
                    </a>
                    <a href="https://twitter.com/jbkunst" target="_blank">
                         <span class="fa-stack fa-lg twitter icon">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                         </span>
                    </a>
                    <a href="{% url 'random-post' %}">
                         <span class="fa-stack fa-lg random icon">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-random fa-stack-1x fa-inverse"></i>
                         </span>
                    </a>
                    <a href="mailto:jbkunst@gmail.com">
                         <span class="fa-stack fa-lg mail icon">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-paper-plane fa-stack-1x fa-inverse"></i>
                         </span>
                    </a>