                    <li><a href="{% url 'index' %}"><i class="nav-icon random icon-iconmonstr-home-icon"></i></a></li>
                    <li><a href="{% url 'about' %}"><i class="nav-icon mail icon-iconmonstr-target-10-icon"></i></a></li>
                    <li><a href="{% url 'blog-rss' %}"><i class="nav-icon rss icon-iconmonstr-rss-4-icon"></i></a></li>
                    <li><a href="https://github.com/jbkunst/" target="_blank"><i class="nav-icon git-hub icon-iconmonstr-github-9-icon"></i></a></li>
                    <li><a href="https://twitter.com/jbkunst" target="_blank"><i class="nav-icon twitter icon-iconmonstr-twitter-4-icon"></i></a></li>
                    <li><a href="https://plus.google.com/+JoshuaKunst/posts" target="_blank"><i class="nav-icon google-plus icon-iconmonstr-google-plus-4-icon"></i></a></li>
                    <li><a href="http://www.linkedin.com/in/joshuakunst" target="_blank"><i class="nav-icon linkedin icon-iconmonstr-linkedin-4-icon"></i></a></li>
                    <li><a href="mailto:jbkunst@gmail.com" target="_blank"><i class="nav-icon mail icon-iconmonstr-email-12-icon"></i></a></li>
                    {% comment %}
                    <li><a href="{% url 'random-post' %}"><i class="nav-icon random icon-iconmonstr-star-6-icon"></i></a></li>
                    <li><a href="http://www.lastfm.com/user/jbkunst" target="_blank"><i class="nav-icon last-fm icon-iconmonstr-last-fm-4-icon"></i></a></li>
                    <li><a href="http://stackoverflow.com/users/829971/jbkunst" target="_blank"><i class="nav-icon stackoverflow icon-iconmonstr-stackoverflow-4-icon"></i></a></li>
                    <li><a href="" ></a><i class="nav-icon tab random fa fa-home"></i></li>
                    <li><a href="" ></a><i class="nav-icon tab rss fa fa-rss"></i></li>
                    <li><a href="" ></a><i class="nav-icon tab git-hub fa fa-github-square"></i></li>
                    <li><a href="" ></a><i class="nav-icon tab google-plus fa fa-google-plus-square"></i></li>
                    <li><a href="" ></a><i class="nav-icon tab twitter fa fa-twitter-square"></i></li>
                    <li><a href="" ></a><i class="nav-icon tab linkedin fa fa-linkedin-square"></i></li>
                    {% endcomment %}