<!--                     <li><a href="{% url 'index' %}"><i class="nav-icon random icon-iconmonstr-home-icon"></i></a></li>
                    <li><a href="{% url 'about' %}"><i class="nav-icon mail icon-iconmonstr-target-10-icon"></i></a></li>
                    <li><a href="{% url 'blog-rss' %}"><i class="nav-icon rss icon-iconmonstr-rss-4-icon"></i></a></li>
                    <li><a href="https://github.com/jbkunst/" target="_blank"><i class="nav-icon git-hub icon-iconmonstr-github-9-icon"></i></a></li>
                    <li><a ><i class="nav-icon twitter icon-iconmonstr-twitter-4-icon"></i></a></li>
                    <li><a ><i class="nav-icon google-plus icon-iconmonstr-google-plus-4-icon"></i></a></li>
                    <li><a ><i class="nav-icon linkedin icon-iconmonstr-linkedin-4-icon"></i></a></li>
                    <li><a href="mailto:jbkunst@gmail.com" target="_blank"><i class="nav-icon mail icon-iconmonstr-email-12-icon"></i></a></li> -->
                    <a href="{% url 'index' %}">
                       <span class="fa-stack fa-lg home nav-icon">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                       </span>  
                    </a>
                    <a href="{% url 'about' %}">
                         <span class="fa-stack fa-lg about nav-icon">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-ra fa-stack-1x fa-inverse"></i>
                         </span>
                    </a>
                    <a href="{% url 'blog-rss' %}">
                         <span class="fa-stack fa-lg rss nav-icon">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                         </span>
                    </a>
                    <a href="https://github.com/jbkunst/" target="_blank">
                         <span class="fa-stack fa-lg git-hub nav-icon">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
                         </span>
                    </a>
                    <a href="https://plus.google.com/+JoshuaKunst/posts" target="_blank">
                         <span class="fa-stack fa-lg google-plus nav-icon">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                         </span>
                    </a>
                    <a href="http://www.linkedin.com/in/joshuakunst" target="_blank">
                         <span class="fa-stack fa-lg linkedin nav-icon">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                         </span>
                    </a>
                    <a href="https://twitter.com/jbkunst" target="_blank">
                         <span class="fa-stack fa-lg twitter nav-icon">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                         </span>
                    </a>
                    <a href="{% url 'random-post' %}">
                         <span class="fa-stack fa-lg random nav-icon">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-random fa-stack-1x fa-inverse"></i>
                         </span>
                    </a>
                    <a href="mailto:jbkunst@gmail.com">
                         <span class="fa-stack fa-lg mail nav-icon">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                         </span>
                    </a>
                    
                    
                    
                    
                    
                   
                    
                    