{% extends "base.html" %}

{% block title %}Portfolio{% endblock %}

{% block css %}
    <link href="http://eragonj.github.io/Trip.js/src/trip.min.css" rel="stylesheet" type="text/css">
{% endblock css %}

{% block js %}
    {% load staticfiles %}
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://eragonj.github.io/Trip.js/src/trip.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="https://rawgithub.com/jasondavies/d3-cloud/master/d3.layout.cloud.js"></script>
    <script src="{% static 'extras/resume.js' %}"></script>
{% endblock js %}

{% block content %}
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="page-header">
                    <h3>Portfolio<small>&nbsp;work in progress</h3>
                </div>
                <div class="row">
                    <center>
                        <img src="{% static 'img/obiwanmovingon.gif' %}" style="padding:30px;">
                    </center>
                </div>
            </div>
        </div>
{% endblock content %}
