{% extends "base.html" %}

{% block title %}Resume{% endblock %}

{% block css %}
    <link href="http://eragonj.github.io/Trip.js/src/trip.min.css" rel="stylesheet" type="text/css">
{% endblock css %}

{% block js %}
    {% load staticfiles %}
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://eragonj.github.io/Trip.js/src/trip.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="https://rawgithub.com/jasondavies/d3-cloud/master/d3.layout.cloud.js"></script>
    <script src="{% static 'extras/resume.js' %}"></script>
{% endblock js %}

{% block content %}
        <div class="row">
            <div class="col-md-11 col-md-offset-1" >
                    <h3>Resume<small>&nbsp;click <a id="start-trip"><b>here</b></a> to tell you the story</small></h3>
            </div>
            <div class="col-md-5 item col-md-offset-1" id="experience">
                <div class="page-header">
                    <h4>Experience</h4>
                </div>
                <div id="container" style="width:100%; height:200px;"></div>
            </div>
            <div class="col-md-5 item" id="interests">
                <div class="page-header">
                    <h4>Interests</h4>
                </div>
                <div id="container2" style="width:100%; height:200px;"></div>
            </div>
            <div class="col-md-5 item  col-md-offset-1" id="hobby">
                <div class="page-header">
                    <h4>Hobby Space</h4>
                </div>
                <div id="container3" style="width:100%; height:200px;"></div>
            </div>
            <div class="col-md-5 item" id="otherplaces">
                <div class="page-header">
                    <h4>Other places...</h4>
                </div>
                <div id="container4" style="width:100%; height:200px"></div>
            </div>
        </div>
        <br>
{% endblock content %}
