{% extends "base.html" %}
{% block content %}
		<div class="row dib">
			<div class="col-md-12">
				<div class="page-header dib">
					<h3>Post on This Category</h3>
				</div>
			</div>
		</div>
		<div class="row dib">
			<div class="col-md-4">
				<div class="page-header">
					<h4>Post number1</h4>
					<small><span aria-hidden="true" class="icon-calendar-2"></span>&nbsp;3, December 2010</small>
				</div>
				<img src="img/image.png" class="img-thumbnail" style="float:left;margin:0.5em">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin dui feugiat mi convallis fermentum. Proin ac sapien ac libero luctus laoreet. Nam a gravida ipsum. Donec convallis commodo mi sit amet pulvinar. Phasellus purus lectus, auctor non viverra nec, venenatis at turpis. Vestibulum venenatis nibh vel nibh rutrum aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent et faucibus nibh, ut sollicitudin elit. In vulputate tempor tempus. Proin egestas felis elit, a tristique tellus eleifend eu. Nunc cursus sem mauris, nec semper sem sodales varius. Donec at luctus nisl. Mauris in purus vel turpis mattis vulputate. Nullam scelerisque magna lacus, id imperdiet massa malesuada scelerisque. Nam varius mi quis eros rhoncus semper...
				</p>
			</div>
			<div class="col-md-4">
				<div class="page-header">
					<h4>Post number1</h4>
					<small><span aria-hidden="true" class="icon-calendar-2"></span>&nbsp;15, December 2010</small>
				</div>
				<img src="img/image.png" class="img-thumbnail" style="float:left;margin:0.5em">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin dui feugiat mi convallis fermentum. Proin ac sapien ac libero luctus laoreet. Nam a gravida ipsum. Donec convallis commodo mi sit amet pulvinar. Phasellus purus lectus, auctor non viverra nec, venenatis at turpis. Vestibulum venenatis nibh vel nibh rutrum aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent et faucibus nibh, ut sollicitudin elit. In vulputate tempor tempus. Proin egestas felis elit, a tristique tellus eleifend eu. Nunc cursus sem mauris, nec semper sem sodales varius. Donec at luctus nisl. Mauris in purus vel turpis mattis vulputate. Nullam scelerisque magna lacus, id imperdiet massa malesuada scelerisque. Nam varius mi quis eros rhoncus semper...
				</p>
			</div>
			<div class="col-md-4">
				<div class="page-header">
					<h4>Post number1</h4>
					<small><span aria-hidden="true" class="icon-calendar-2"></span>&nbsp;30, December 2010</small>
				</div>
				<img src="img/image.png" class="img-thumbnail" style="float:left;margin:0.5em">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin dui feugiat mi convallis fermentum. Proin ac sapien ac libero luctus laoreet. Nam a gravida ipsum. Donec convallis commodo mi sit amet pulvinar. Phasellus purus lectus, auctor non viverra nec, venenatis at turpis. Vestibulum venenatis nibh vel nibh rutrum aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent et faucibus nibh, ut sollicitudin elit. In vulputate tempor tempus. Proin egestas felis elit, a tristique tellus eleifend eu. Nunc cursus sem mauris, nec semper sem sodales varius. Donec at luctus nisl. Mauris in purus vel turpis mattis vulputate. Nullam scelerisque magna lacus, id imperdiet massa malesuada scelerisque. Nam varius mi quis eros rhoncus semper...
				</p>
			</div>			
		</div>
		<div class="row dib">
			<div class="col-md-4">
				<div class="page-header">
					<h4>Post number1</h4>
					<small><span aria-hidden="true" class="icon-calendar-2"></span>&nbsp;3, December 2010</small>
				</div>
				<img src="img/image.png" class="img-thumbnail" style="float:left;margin:0.5em">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin dui feugiat mi convallis fermentum. Proin ac sapien ac libero luctus laoreet. Nam a gravida ipsum. Donec convallis commodo mi sit amet pulvinar. Phasellus purus lectus, auctor non viverra nec, venenatis at turpis. Vestibulum venenatis nibh vel nibh rutrum aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent et faucibus nibh, ut sollicitudin elit. In vulputate tempor tempus. Proin egestas felis elit, a tristique tellus eleifend eu. Nunc cursus sem mauris, nec semper sem sodales varius. Donec at luctus nisl. Mauris in purus vel turpis mattis vulputate. Nullam scelerisque magna lacus, id imperdiet massa malesuada scelerisque. Nam varius mi quis eros rhoncus semper...
				</p>
			</div>
			<div class="col-md-4">
				<div class="page-header">
					<h4>Post number1</h4>
					<small><span aria-hidden="true" class="icon-calendar-2"></span>&nbsp;15, December 2010</small>
				</div>
				<img src="img/image.png" class="img-thumbnail" style="float:left;margin:0.5em">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin dui feugiat mi convallis fermentum. Proin ac sapien ac libero luctus laoreet. Nam a gravida ipsum. Donec convallis commodo mi sit amet pulvinar. Phasellus purus lectus, auctor non viverra nec, venenatis at turpis. Vestibulum venenatis nibh vel nibh rutrum aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent et faucibus nibh, ut sollicitudin elit. In vulputate tempor tempus. Proin egestas felis elit, a tristique tellus eleifend eu. Nunc cursus sem mauris, nec semper sem sodales varius. Donec at luctus nisl. Mauris in purus vel turpis mattis vulputate. Nullam scelerisque magna lacus, id imperdiet massa malesuada scelerisque. Nam varius mi quis eros rhoncus semper...
				</p>
			</div>
			<div class="col-md-4">
				<div class="page-header">
					<h4>Post number1</h4>
					<small><span aria-hidden="true" class="icon-calendar-2"></span>&nbsp;30, December 2010</small>
				</div>
				<img src="img/image.png" class="img-thumbnail" style="float:left;margin:0.5em">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin dui feugiat mi convallis fermentum. Proin ac sapien ac libero luctus laoreet. Nam a gravida ipsum. Donec convallis commodo mi sit amet pulvinar. Phasellus purus lectus, auctor non viverra nec, venenatis at turpis. Vestibulum venenatis nibh vel nibh rutrum aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent et faucibus nibh, ut sollicitudin elit. In vulputate tempor tempus. Proin egestas felis elit, a tristique tellus eleifend eu. Nunc cursus sem mauris, nec semper sem sodales varius. Donec at luctus nisl. Mauris in purus vel turpis mattis vulputate. Nullam scelerisque magna lacus, id imperdiet massa malesuada scelerisque. Nam varius mi quis eros rhoncus semper...
				</p>
			</div>			
		</div>		
    </div> <!-- /container -->
	{% endblock content %}