{% extends "base.html" %}

{% block title %}{% if not category %}All my Posts{% else %}Posts on {{ category.name|title }} Category{% endif %}{% endblock %}

{% block content %}
		<div class="row dib">
			<div class="col-md-8">
				<div class="page-header">
					<h3>{% if not category %}All my Posts{% else %}Posts on {{ category.name|title }} Category{% endif %}</h3>
				</div>
{% for post in object_list %}
	{% if forloop.first %}
		<!-- <div class="row dib"> -->
	{% endif %}
	{% if forloop.counter|divisibleby:"4" %}
		<!-- <div class="row dib"> -->
	{% endif %}
			<div class="col-md-6">
				<!-- <div class="page-header"> -->
					<h4><a href="{{ post.get_absolute_url }}">{{ post.title|title }}</a></h4>
					<small><i class="fa fa-calendar"></i>&nbsp;{{ post.pub_date|date:"F d Y"}}</small>
				<!-- </div> -->
				{{ post.body|safe|truncatewords:20 }}
			</div>
	{% if forloop.first %}
		<!-- </div> -->
	{% endif %}
	{% if forloop.counter|divisibleby:"4" %}
		<!-- </div> -->
	{% endif %}
{% endfor %}
			</div>
{% include "blog\sidebar.html" %}
		</div>
{% endblock content %}