			<div class="col-md-4">
				<ul class="nav sidebar">
                    <div class="page-header">
						<h3>Categories</h3>
					</div>
                    <li><a href="#" class="asidebar"><span class="badge pull-right">42</span>R</a></li>
                    <li><a href="#" class="asidebar"><span class="badge pull-right">2</span>Django</a></li>
                    <li><a href="#" class="asidebar"><span class="badge pull-right">12</span>Statistics</a></li>
                    <li><a href="#" class="asidebar"><span class="badge pull-right">3</span>Javascript</a></li>
                    <div class="page-header">
						<h3>Categories</h3>
					</div>
                    <li><a href="#" class="asidebar">Link</a></li>
                    <li><a href="#" class="asidebar">Link</a></li>
                    <li><a href="#" class="asidebar">Link</a></li>
                    <li><a href="#" class="asidebar">Link</a></li>
                </ul>
			</div>